body{
    margin: 0;
}

footer {
    overflow: hidden;
    /* width: 100%; */
    padding-top: 13%;

    .grass_group {
        position: relative;
        .updown_1 {
            /* overflow: hidden; */
            width: 120%;
            position: absolute;
            animation: Updown1 2.5s infinite alternate;
            animation-timing-function:linear;
            z-index: 4;
            top: 15px;
            /* padding: 0 100px; */
        }

        .updown_2 {
            /* overflow: hidden; */
            width: 120%;
            position: absolute;
            animation: Updown2 2.5s infinite alternate;
            animation-timing-function:linear;
            z-index: 2;
            /* padding: 0 20%; */
        }

        .updown_3 {
            /* overflow: hidden; */
            width: 120%;
            position: absolute;
            animation: Updown1 4s infinite alternate;
            animation-timing-function:linear;
            z-index: 1;
            /* padding: 0 20%; */
        }

        @keyframes Updown1 {
            from {
                margin-left: 0px;
            }
            to {
                margin-left: -80px;
            }
        }

        @keyframes Updown2 {
            from {
                margin-left: -80px;
            }
            to {
                margin-left: 0px;
            }
        }

        .updown_bottom {
            width: 100%;
            position: relative;
           background-color: #46c134;
            z-index: 5;
            top: 122px;
            padding-bottom: 15%;

            .footer_text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-45%);
                text-align: center;
                color: #efefef;
                
            

            .footer_logo_icon{
               width: 20%;
            }    
                
            .footer_bottom_line{
                padding-bottom: 7%;
                width: 75%;
            }

            .footer_fb_icon{
                width: 18%;
             }  
            
             .company_name{
                 font-size: 32px;
                 font-family: 微軟正黑體;
             }

             .phone_number{
                font-size: 31px;
                font-family: 微軟正黑體;
                padding-bottom: 30px;

                &::before{
                     content: url('./img/white_small_circle.png');}
               
                     span::before {
                        content: url('./img/white_small_circle.png');
                     }
             }
             
            .copyright {
                font-size: 19px;
                font-family: Arial, Helvetica, sans-serif;
            }
    
            }
            
            }
            
        }

       

        .roate_windmill {

            position: relative;
            position: absolute;
            top: -7%;
            right: 21%;
            width: 10%;
            z-index: 3;
        
            .windmill {     
                width: 50%;           
                animation: Roate 2s infinite ;
                animation-timing-function:linear
            }
                    @keyframes  Roate{
                0% {transform: rotate(0deg);}
                100% {transform: rotate(360deg);}
                
            }
            .windmill_stick {
                position: absolute;
                top: 20%;
                left: 22%;
                width: 17%;
                z-index: -1;
            }
        
    }
}
















