@charset "UTF-8";
body {
  margin: 0;
}

footer {
  overflow: hidden;
  /* width: 100%; */
  padding-top: 13%;
}

footer .grass_group {
  position: relative;
}

footer .grass_group .updown_1 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown1 2.5s infinite alternate;
          animation: Updown1 2.5s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 4;
  top: 15px;
  /* padding: 0 100px; */
}

footer .grass_group .updown_2 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown2 2.5s infinite alternate;
          animation: Updown2 2.5s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 2;
  /* padding: 0 20%; */
}

footer .grass_group .updown_3 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown1 4s infinite alternate;
          animation: Updown1 4s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 1;
  /* padding: 0 20%; */
}

@-webkit-keyframes Updown1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -80px;
  }
}

@keyframes Updown1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -80px;
  }
}

@-webkit-keyframes Updown2 {
  from {
    margin-left: -80px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes Updown2 {
  from {
    margin-left: -80px;
  }
  to {
    margin-left: 0px;
  }
}

footer .grass_group .updown_bottom {
  width: 100%;
  position: relative;
  background-color: #46c134;
  z-index: 5;
  top: 122px;
  padding-bottom: 15%;
}

footer .grass_group .updown_bottom .footer_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  text-align: center;
  color: #efefef;
}

footer .grass_group .updown_bottom .footer_text .footer_logo_icon {
  width: 20%;
}

footer .grass_group .updown_bottom .footer_text .footer_bottom_line {
  padding-bottom: 7%;
  width: 75%;
}

footer .grass_group .updown_bottom .footer_text .footer_fb_icon {
  width: 18%;
}

footer .grass_group .updown_bottom .footer_text .company_name {
  font-size: 32px;
  font-family: 微軟正黑體;
}

footer .grass_group .updown_bottom .footer_text .phone_number {
  font-size: 31px;
  font-family: 微軟正黑體;
  padding-bottom: 30px;
}

footer .grass_group .updown_bottom .footer_text .phone_number::before {
  content: url("./img/white_small_circle.png");
}

footer .grass_group .updown_bottom .footer_text .phone_number span::before {
  content: url("./img/white_small_circle.png");
}

footer .grass_group .updown_bottom .footer_text .copyright {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

footer .roate_windmill {
  position: relative;
  position: absolute;
  top: -7%;
  right: 21%;
  width: 10%;
  z-index: 3;
}

footer .roate_windmill .windmill {
  width: 50%;
  -webkit-animation: Roate 2s infinite;
          animation: Roate 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes Roate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Roate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer .roate_windmill .windmill_stick {
  position: absolute;
  top: 20%;
  left: 22%;
  width: 17%;
  z-index: -1;
}
/*# sourceMappingURL=footer_grass.css.map */