@charset "UTF-8";
.nav_page_one .navbar01 {
  position: relative;
  width: 100%;
  height: 320px;
  background-image: url(./img/navbar.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.nav_page_one .navbar01 .logo {
  width: 130px;
  height: 110px;
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  left: 200px;
  z-index: 10;
}

.nav_page_one .navbar01 .circles {
  width: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #fff;
}

.nav_page_one .navbar01 .circles .circle_01 {
  position: relative;
  top: 50px;
  left: 100px;
}

.nav_page_one .navbar01 .circles .circle_01:hover {
  color: #686869;
  cursor: pointer;
}

.nav_page_one .navbar01 .circles .circle_01 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav_page_one .navbar01 .circles .circle_01 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
}

.nav_page_one .navbar01 .circles .circle_01 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
}

.nav_page_one .navbar01 .circles .circle_02 {
  position: absolute;
  right: calc(45% - 85px);
  top: 150px;
}

.nav_page_one .navbar01 .circles .circle_02:hover {
  color: #686869;
  cursor: pointer;
}

.nav_page_one .navbar01 .circles .circle_02 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav_page_one .navbar01 .circles .circle_02 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
}

.nav_page_one .navbar01 .circles .circle_02 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
}

.nav_page_one .navbar01 .circles .circle_03 {
  position: absolute;
  right: 20px;
  top: 200px;
}

.nav_page_one .navbar01 .circles .circle_03:hover {
  color: #686869;
  cursor: pointer;
}

.nav_page_one .navbar01 .circles .circle_03 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav_page_one .navbar01 .circles .circle_03 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
}

.nav_page_one .navbar01 .circles .circle_03 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
}
/*# sourceMappingURL=main_nav_page_one.css.map */