$background_white: #eee;
$bullet_blue:#a3dbdc;
$bullet_pink:#ffafaf;
$bullet_green:#9acc52;
$bullet_orange:#ffc789;
$mobile_title_color:#606060;
$mobile_title_border_blue:#49c0c4;
$mobile_bar_color:#49c0c4;

* {
    font-family: "微軟正黑體";
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: $background_white;
    @media(max-width: 414px){
        overflow: unset;
    }
}
.display_none {
    display: none;
}
.display_block {
    display: block;
}
.vis_hidden{
    visibility: hidden;
}
.vis_visible{
    visibility: visible;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 36px;
    @media(min-width:640px){
        bottom: 48px;
    }
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
    
}

.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    
    // z-index: 1;
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin-bottom: 20px;
        &:nth-child(1){
            opacity: 1;
            background: $bullet_blue;
        }
        &:nth-child(1).swiper-pagination-bullet-active {
            width: 17px;
            height: 17px;
        }
        &:nth-child(2){
            opacity: 1;
            background: $bullet_pink;
        }
        &:nth-child(2).swiper-pagination-bullet-active {
            width: 17px;
            height: 17px;
        }
        &:nth-child(3){
            opacity: 1;
            background: $bullet_green;
        }
        &:nth-child(3).swiper-pagination-bullet-active {
            width: 17px;
            height: 17px;
        }
        &:nth-child(4){
            opacity: 1;
            background: $bullet_orange;
        }
        &:nth-child(4).swiper-pagination-bullet-active {
            width: 17px;
            height: 17px;
        }
    }
}

.outside_img_mobile {
    clip-path: url(#outside_mask_mobile1);
}
.outside_img_mobile {
    clip-path: url(#outside_mask_mobile2);
}
.outside_img_mobile {
    clip-path: url(#outside_mask_mobile3);
}
.outside_img_mobile {
    clip-path: url(#outside_mask_mobile4);
}

.middle_img_mobile {
    clip-path: url(#middle_mask_mobile1);
}
.middle_img_mobile {
    clip-path: url(#middle_mask_mobile2);
}
.middle_img_mobile {
    clip-path: url(#middle_mask_mobile3);
}
.middle_img_mobile {
    clip-path: url(#middle_mask_mobile4);
}

.inside_img_mobile {
    clip-path: url(#inside_mask_mobile1);
}
.inside_img_mobile {
    clip-path: url(#inside_mask_mobile2);
}
.inside_img_mobile {
    clip-path: url(#inside_mask_mobile3);
}
.inside_img_mobile {
    clip-path: url(#inside_mask_mobile4);
}

.demo {
    position: fixed;
    width: 100%;
}

.outside_contain {
    width: 100%;
    height: auto;
    background-color: #eee;
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
        .outside_img {
            clip-path: url(#outside_mask);
        }
    }
}
.middle_contain {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    opacity: 0.7;
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
        .middle_img {
            clip-path: url(#middle_mask);
        }
    }
}
.inside_contain {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    opacity: 0.3;
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
        .inside_img {
            clip-path: url(#inside_mask);
        }
    }
}

.cover4 {
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
        .small_paths {
            cursor: pointer;
            #about_text {
                pointer-events: none;
            }
            #contact_text {
                pointer-events: none;
            }
            #service_text {
                pointer-events: none;
            }
            #visit_text {
                pointer-events: none;
            }
        }
    }
}

.outside_contain_mobile {
    width: 100%;
    height: auto;
    background-color: #eee;
    position: absolute;
    
    .demo {
        position: fixed;
        width: 100%;
        @media (max-width: 500px) {
            height: 65%;
            top: 18%;
        }
    }
}

.middle_contain_mobile {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    opacity: 0.8;
    position: absolute;
    
    .demo {
        position: fixed;
        width: 100%;
        @media (max-width: 500px) {
            height: 65%;
            top: 18%;
        }
    }
}

.inside_contain_mobile {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    opacity: 0.3;
    position: absolute;
    
    .demo {
        position: fixed;
        width: 100%;
        @media (max-width: 500px) {
            height: 65%;
            top: 18%;
        }
    }
}
.img_link_mobile {
    
    .demo {
        position: fixed;
        width: 100%;
        @media (max-width: 500px) {
            height: 65%;
            top: 18%;
        }
    }
}

.swiper-slide{
    height: 100vh;
    &:nth-child(1) p:before{
        content: "Mango International";
    }
    &:nth-child(2) p:before{
        content: "about us";
    }
    &:nth-child(2) p:after{
        border-color: $bullet_pink;
    }
    &:nth-child(3) p:before{
        content: "service items";
    }
    &:nth-child(3) p:after{
        border-color: $bullet_green;
    }
    &:nth-child(4) p:before{
        content: "contact us";
    }
    &:nth-child(4) p:after{
        border-color: $bullet_orange;
    }
}
.mobile_title_main{
    position: absolute;
    top: 79%;
    left: 50%;
    // z-index: 99;
    transform: translateX(-50%);
    color: $mobile_title_color;
    text-align: center;
    @media(max-width:768px){
        top: 88%;
    }
    @media(max-width:500px){
        top: 79%;
    }
    p{
        margin: 0;
        position: relative;
        font-weight: bold;
        letter-spacing: 1px;
        &:after{
            margin-left: -5px;
            margin-right: -5px;
            margin-top: 1.4em;
            content: "";
            display: block;
            border-top: 2px $mobile_title_border_blue solid;      
        }
        &:before{
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 2.2em;
            font-size: 10px;
            letter-spacing: 0.1em;
            width: 140px;            
        } 
    }
}

.navitems {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    padding: 85px 0px 85px 105px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1050px) {
        padding-left: 30px;
    }
    @media (max-width: 768px) {
        width: 100%;
        height: unset;
        padding: 40px 40px 40px 40px;
    }
    .logo {
        width: 100%;
        @media (max-width: 768px) {
            text-align: unset;
            margin-top: unset;
        }
        img {
            width: 135px;
            float: left;
            @media (max-width: 768px) {
                width: unset;
                height: 96px;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @media (max-width: 768px) {
            display: none;
        }
        li {
            margin-bottom: 5px;
            a {
                text-decoration: none;
                color: black;
                .navitem {
                    font-size: 18px;
                    letter-spacing: 0.2em;
                    display: inline-block;
                    position: relative;
                    &:after {
                        content: "";
                        display: block;
                        border-top: 1px solid black;
                        margin-left: 1.2em;
                        margin-right: 0.8em;
                    }
                    &:before {
                        display: block;
                        position: absolute;
                        left: 21.5px;
                        top: 100%;
                        font-size: 12px;
                        letter-spacing: 0.05em;
                    }
                }
                .eng_navitem_about {
                    &:before {
                        content: "about us";
                    }
                }
                .eng_navitem_service {
                    &:before {
                        content: "service items";
                    }
                }
                .eng_navitem_visit {
                    &:before {
                        content: "book a visit";
                    }
                }
                .eng_navitem_contact {
                    &:before {
                        content: "contact us";
                    }
                }
            }
        }
    }
}

.mobile_bar{
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    z-index: 99;
    top: 85px;
    right: 105px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45px;
    // font-weight: bold;
    @media (max-width: 1050px) {
        right: 30px;
    }
    @media (max-width: 768px) {
        top: 40px;
        right: 40px;
    }
    .lineT{
        width: 45px;
        height: 4px;
        margin-bottom: 5px;
        background-color: $mobile_bar_color;
        @media (max-width: 768px) {
            margin-top: 33px;
        }
    }
    .lineB{
        width: 27px;
        height: 4px;
        margin-bottom: 5px;
        background-color: $mobile_bar_color;
    }
    .bar_text{
        margin:0;
        font-weight: bold;
        font-size: 10.7px;
    }
}

.navitems_insidebar {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    @media(max-height: 414px){
        height: auto;
    }
    img {
        width: 135px;
        margin-top: 85px;
        margin-left: 105px;
        transition: 1s ease-in-out;
        @media (max-width: 1050px) {
            margin-left: 30px;
        }
        @media (max-width: 768px) {
            margin-top: 40px;
            margin-left: 40px;
            width: unset;
            height: 96px;
        }
    }
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        margin-top: 5%;
        margin-left: 30%;
        transition: 1s ease-in-out;
        @media (max-width: 768px) {
            margin-top: 25%;
        }
        @media (max-width: 414px) {
            margin-top: 15%;
            margin-left: 25%;
        }
        @media (max-width: 375px) {
            margin-top: 5%;
            margin-left: 20%;
        }
        @media (max-width: 320px) {
            margin-top: 0;
        }
        li {
            display: block;
            margin-top: 1.5em;
            letter-spacing: 0.3em;
            a {
                text-decoration: none;
                font-size: 38px;
                font-weight: bold;
                color: white;
                @media (max-width: 320px) {
                    font-size: 30px;
                }
            }
        }
    }
    footer {
        margin-left: 30%;
        letter-spacing: 0.3em;
        line-height: 2em;
        margin-top: 5%;
        font-size: 22px;
        color: white;
        @media(max-width:540px){
            margin-left: 0; 
            text-align: center;
        }
        @media (max-width: 414px) {
            font-size: 20px;
        }
        @media (max-width: 375px) {
            font-size: 18px;
        }
        @media (max-width: 320px) {
            font-size: 16px;
        }
        p {
            margin: 0;
        }
    }
}

.wrap {
    position: absolute;
    z-index: 99;
    top: -20px;
    left: -20px;
    bottom: 0;
    right: 0;
    @media (max-width: 768px) {
        display: none;
    }
    .ball {
        z-index: 99;
        width: 60px;
        height: 60px;
        border: 1px solid grey;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -10px 0 0 -10px;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        .outer_ball {
            z-index: 99;
            width: 65px;
            height: 65px;
            background: none;
            border: 1px solid grey;
            border-radius: 50%;
            position: absolute;
        }
    }
}

.ripple {
    * {
        display: inline-block;
        text-shadow: 0 0 0 #fff;
        color: transparent;
    }
    &:hover {
        * {
            animation: rippleEffect 2s infinite;
        }
        @keyframes rippleEffect {
            40% {
                // opacity: .35;
            }
            50% {
                transform: translate3d(.5em, 0, 0) scale(1.1);
                text-shadow: 0 0 20px #fff;
                color: #268BBF;
                // opacity: 1;
            }
            75% {
                transform: translate3d(0, 0, 0) scale(1);
                text-shadow: 0 0 0 #fff;
                // opacity: 1;
            }
        }
    }
}

