@charset "UTF-8";
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 微軟正黑體;
}

.page_one_nav {
  width: 100%;
  margin: 0;
  position: relative;
  top: 0;
  z-index: 20;
}

@media (max-width: 1740px) {
  .page_one_nav {
    display: none;
  }
}

.page_one_nav .navbar01 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
}

.page_one_nav .navbar01 .logo {
  width: 130px;
  height: 110px;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  left: 200px;
  z-index: 10;
}

.page_one_nav .navbar01 .circles {
  width: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #fff;
}

.page_one_nav .navbar01 .circles .circle_01 {
  position: relative;
  top: 50px;
  left: 100px;
}

.page_one_nav .navbar01 .circles .circle_01:hover {
  color: #686869;
  cursor: pointer;
}

.page_one_nav .navbar01 .circles .circle_01 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page_one_nav .navbar01 .circles .circle_01 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_01 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_02 {
  position: absolute;
  right: calc(45% - 85px);
  top: 150px;
}

.page_one_nav .navbar01 .circles .circle_02:hover {
  color: #686869;
  cursor: pointer;
}

.page_one_nav .navbar01 .circles .circle_02 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page_one_nav .navbar01 .circles .circle_02 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_02 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_03 {
  position: absolute;
  right: 20px;
  top: 200px;
}

.page_one_nav .navbar01 .circles .circle_03:hover {
  color: #686869;
  cursor: pointer;
}

.page_one_nav .navbar01 .circles .circle_03 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page_one_nav .navbar01 .circles .circle_03 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_03 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.nav_jump-in {
  width: 100%;
  background-color: #FCB465;
  display: none;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

@media (max-width: 1740px) {
  .nav_jump-in {
    display: none !important;
  }
}

.nav_jump-in .logo {
  height: 110px;
  padding: 20px 60px 20px 200px;
  margin: 0;
  float: left;
}

.nav_jump-in .nav_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  float: left;
}

.nav_jump-in .nav_button .button {
  padding: 45px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav_jump-in .nav_button .button:hover {
  color: #686869;
  cursor: pointer;
}

.nav_jump-in .nav_button .button:hover .button_img {
  -webkit-animation: button_img 2.5s infinite;
          animation: button_img 2.5s infinite;
}

@-webkit-keyframes button_img {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes button_img {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

.nav_jump-in .nav_button .button .button_text {
  text-align: center;
}

.nav_jump-in .nav_button .button .button_text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.nav_jump-in .nav_button .button .button_text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.nav_jump-in .nav_button .button .button_img {
  width: 50px;
  height: 66px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background-repeat: no-repeat;
  margin-left: 10px;
}

#section01 #big_picture {
  position: relative;
}

#section01 #big_picture .picture {
  width: 100%;
}

#section01 .banner_text_all_box {
  position: absolute;
  top: 18%;
  left: 50%;
  z-index: 21;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #686869;
}

@media (max-width: 1000px) {
  #section01 .banner_text_all_box {
    top: 21%;
  }
}

@media (max-width: 768px) {
  #section01 .banner_text_all_box {
    display: none;
  }
}

#section01 .banner_text_all_box .banner_text_box .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section01 .banner_text_all_box .banner_text_box .title .box {
  margin-right: 5px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  #section01 .banner_text_all_box .banner_text_box .title .box {
    margin-right: 0px;
  }
}

#section01 .banner_text_all_box .banner_text_box .title .box h1 {
  margin: 0;
  font-family: "微軟正黑體";
  letter-spacing: 5px;
  border-bottom: solid #686869 1px;
  padding-bottom: 5px;
  font-size: 30px;
}

@media (max-width: 375px) {
  #section01 .banner_text_all_box .banner_text_box .title .box h1 {
    font-size: 20px;
  }
}

#section01 .banner_text_all_box .banner_text_box .title .box h2 {
  margin: 0;
  padding-top: 5px;
  font-size: 30px;
  font-family: "Arial";
  font-weight: lighter;
}

@media (max-width: 375px) {
  #section01 .banner_text_all_box .banner_text_box .title .box h2 {
    font-size: 20px;
  }
}

@media (max-width: 1100px) and (max-width: 768px) {
  #section01 .banner_text_all_box .banner_text_box .title img {
    width: 28px;
    height: 40px;
    padding-top: 0px;
  }
}

#section01 .banner_text_all_box .text p {
  text-align: center;
  padding-right: 70px;
  font-size: 25px;
}

@media (max-width: 1000px) {
  #section01 .banner_text_all_box .text p {
    font-size: 20px;
    padding-right: 0px;
    margin-top: 4px;
    letter-spacing: 5px;
  }
}

@media (max-width: 768px) {
  #section01 .banner_text_all_box .text p {
    font-size: 12px;
    padding-right: 0px;
    margin-top: 25px;
    letter-spacing: 5px;
  }
}

#section01 .mobile_banner_text_all_box {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #686869;
  margin-top: 13px;
}

#section01 .mobile_banner_text_all_box .banner_text_box {
  display: none;
}

@media (max-width: 768px) {
  #section01 .mobile_banner_text_all_box .banner_text_box {
    display: block;
  }
}

#section01 .mobile_banner_text_all_box .banner_text_box .title {
  position: relative;
  text-align: center;
}

#section01 .mobile_banner_text_all_box .banner_text_box .title .box h1 {
  margin: 0;
  font-family: "微軟正黑體";
  letter-spacing: 5px;
  border-bottom: solid #686869 1px;
  padding-bottom: 5px;
  font-size: 30px;
}

@media (max-width: 375px) {
  #section01 .mobile_banner_text_all_box .banner_text_box .title .box h1 {
    font-size: 20px;
  }
}

#section01 .mobile_banner_text_all_box .banner_text_box .title .box h2 {
  margin: 0;
  padding-top: 5px;
  font-size: 30px;
  font-family: "Arial";
  font-weight: lighter;
}

@media (max-width: 375px) {
  #section01 .mobile_banner_text_all_box .banner_text_box .title .box h2 {
    font-size: 20px;
  }
}

#section01 .mobile_banner_text_all_box .banner_text_box .title img {
  position: absolute;
  top: -10%;
  left: 103%;
  width: 40%;
}

#section01 .mobile_banner_text_all_box .text {
  display: none;
}

@media (max-width: 768px) {
  #section01 .mobile_banner_text_all_box .text {
    display: block;
  }
}

#section01 .mobile_banner_text_all_box .text p {
  text-align: center;
  padding-right: 100px;
  font-size: 20px;
  padding-right: 0px;
  margin-top: 25px;
  letter-spacing: 5px;
}

@media (max-width: 375px) {
  #section01 .mobile_banner_text_all_box .text p {
    font-size: 20px;
  }
}

#section02 .section02_text_all_box {
  background-image: url("../03_img/02_p2/cloud-07.svg");
}

#section02 .section02_text_all_box .section02_text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section02 .section02_text_all_box .section02_text_box .title_day {
  margin-top: 20%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  #section02 .section02_text_all_box .section02_text_box .title_day {
    width: 35%;
  }
}

#section02 .section02_text_all_box .section02_text_box .text_content {
  position: relative;
}

#section02 .section02_text_all_box .section02_text_box .text_content .text_day_bgimg {
  width: 100%;
}

#section02 .section02_text_all_box .section02_text_box .text_content .text_day {
  position: absolute;
  font-size: 30px;
  letter-spacing: 1px;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  #section02 .section02_text_all_box .section02_text_box .text_content .text_day {
    font-size: 20px;
    line-height: 43px;
  }
}

@media (max-width: 500px) {
  #section02 .section02_text_all_box .section02_text_box .text_content .text_day {
    font-size: 13px;
    line-height: 25px;
  }
}

#section02 .section02_text_all_box .section02_text_box .text_content .illstration_tool {
  position: absolute;
  top: 50%;
  right: 10%;
}

@media (max-width: 768px) {
  #section02 .section02_text_all_box .section02_text_box .text_content .illstration_tool {
    width: 11%;
    right: 21%;
  }
}

#section02 .section02_text_all_box .section02_text_box .title_charge {
  margin-top: 20%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  #section02 .section02_text_all_box .section02_text_box .title_charge {
    width: 35%;
  }
}

#section02 .section02_text_all_box .section02_text_box .text_content {
  position: relative;
}

#section02 .section02_text_all_box .section02_text_box .text_content .text_charge_bgimg {
  width: 100%;
}

#section02 .section02_text_all_box .section02_text_box .text_content .text_charge {
  position: absolute;
  font-size: 30px;
  letter-spacing: 1px;
  top: 20%;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  #section02 .section02_text_all_box .section02_text_box .text_content .text_charge {
    font-size: 19px;
    letter-spacing: 1px;
    top: 14%;
    left: 48%;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  #section02 .section02_text_all_box .section02_text_box .text_content .text_charge {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
  }
}

@media (max-width: 400px) {
  #section02 .section02_text_all_box .section02_text_box .text_content .text_charge {
    letter-spacing: 0px;
  }
}

#section02 .section02_text_all_box .section02_text_box .text_content .illstration_horse {
  position: absolute;
  top: 60%;
  right: 8%;
}

@media (max-width: 768px) {
  #section02 .section02_text_all_box .section02_text_box .text_content .illstration_horse {
    width: 15%;
    right: 22%;
    top: 65%;
  }
}

.picture_parallax {
  width: 100%;
  height: 444px;
  background-image: url("../03_img/02_p2/img02.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .picture_parallax {
    width: 100%;
    height: 250px;
    background-image: url("../03_img/02_p2/mobile_parallax_img02.jpg");
  }
}

.picture_parallax .picture_parallax_text {
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  width: 12%;
  background-color: rgba(255, 215, 215, 0.5);
}

@media (max-width: 1500px) {
  .picture_parallax .picture_parallax_text {
    width: 16%;
  }
}

@media (max-width: 1100px) {
  .picture_parallax .picture_parallax_text {
    width: 18%;
  }
}

@media (max-width: 900px) {
  .picture_parallax .picture_parallax_text {
    width: 21%;
  }
}

@media (max-width: 375px) {
  .picture_parallax .picture_parallax_text {
    width: 23%;
  }
}

.picture_parallax .picture_parallax_text:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.picture_parallax .picture_parallax_text img {
  width: 100%;
}

#section03 .section03_text_all_box {
  background-image: url("../03_img/02_p2/cloud-08.svg");
}

#section03 .section03_text_all_box .section03_text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section03 .section03_text_all_box .section03_text_box .title_food {
  margin-top: 10%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  #section03 .section03_text_all_box .section03_text_box .title_food {
    width: 35%;
  }
}

#section03 .section03_text_all_box .section03_text_box .text_content {
  position: relative;
}

#section03 .section03_text_all_box .section03_text_box .text_content .text_food_bgimg {
  width: 100%;
}

#section03 .section03_text_all_box .section03_text_box .text_content .text_food {
  position: absolute;
  top: 29%;
  left: 15%;
  font-size: 30px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  #section03 .section03_text_all_box .section03_text_box .text_content .text_food {
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 43px;
    top: 30%;
    left: 19%;
  }
}

@media (max-width: 500px) {
  #section03 .section03_text_all_box .section03_text_box .text_content .text_food {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    left: 26%;
  }
}

#section03 .section03_text_all_box .section03_text_box .text_content .illstration_rice {
  position: absolute;
  top: 50%;
  right: 10%;
}

@media (max-width: 768px) {
  #section03 .section03_text_all_box .section03_text_box .text_content .illstration_rice {
    width: 16%;
    top: 55%;
  }
}

#section03 .section03_text_all_box .section03_text_box .title_grow {
  margin-top: 20%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  #section03 .section03_text_all_box .section03_text_box .title_grow {
    width: 35%;
  }
}

#section03 .section03_text_all_box .section03_text_box .text_content {
  position: relative;
}

#section03 .section03_text_all_box .section03_text_box .text_content .text_grow_bgimg {
  width: 100%;
}

#section03 .section03_text_all_box .section03_text_box .text_content .text_grow {
  position: absolute;
  top: 30%;
  left: 21%;
  font-size: 30px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  #section03 .section03_text_all_box .section03_text_box .text_content .text_grow {
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 43px;
    top: 28%;
  }
}

@media (max-width: 500px) {
  #section03 .section03_text_all_box .section03_text_box .text_content .text_grow {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    left: 26%;
  }
}

#section03 .section03_text_all_box .section03_text_box .title_life {
  margin-top: 20%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  #section03 .section03_text_all_box .section03_text_box .title_life {
    width: 35%;
  }
}

#section03 .section03_text_all_box .section03_text_box .text_content {
  position: relative;
}

#section03 .section03_text_all_box .section03_text_box .text_content .text_life_bgimg {
  width: 100%;
}

#section03 .section03_text_all_box .section03_text_box .text_content .text_life {
  position: absolute;
  top: 25%;
  left: 18%;
  font-size: 30px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  #section03 .section03_text_all_box .section03_text_box .text_content .text_life {
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 43px;
    top: 29%;
    left: 22%;
  }
}

@media (max-width: 500px) {
  #section03 .section03_text_all_box .section03_text_box .text_content .text_life {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    left: 26%;
  }
}

#section03 .section03_text_all_box .section03_text_box .text_content .illstration_picture {
  position: absolute;
  bottom: 15%;
  right: 8%;
}

@media (max-width: 768px) {
  #section03 .section03_text_all_box .section03_text_box .text_content .illstration_picture {
    width: 13%;
    bottom: 22%;
    right: 15%;
  }
}

#section03 .section03_text_all_box .section03_text_box .title_visit {
  margin-top: 10%;
}

@media (max-width: 768px) {
  #section03 .section03_text_all_box .section03_text_box .title_visit {
    width: 60%;
  }
}

footer {
  overflow: hidden;
  /* width: 100%; */
  padding-top: 13%;
}

footer .grass_group {
  position: relative;
}

footer .grass_group .updown_1 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown1 2.5s infinite alternate;
          animation: Updown1 2.5s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 4;
  top: 15px;
}

@media (max-width: 650px) {
  footer .grass_group .updown_1 {
    -webkit-animation: Updown1-650px 2.2s infinite alternate;
            animation: Updown1-650px 2.2s infinite alternate;
  }
}

footer .grass_group .updown_2 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown2 2.5s infinite alternate;
          animation: Updown2 2.5s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 2;
}

@media (max-width: 650px) {
  footer .grass_group .updown_2 {
    -webkit-animation: Updown2-650px 2.2s infinite alternate;
            animation: Updown2-650px 2.2s infinite alternate;
  }
}

footer .grass_group .updown_3 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown1 4s infinite alternate;
          animation: Updown1 4s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 1;
}

@media (max-width: 650px) {
  footer .grass_group .updown_3 {
    -webkit-animation: Updown1-650px 4s infinite alternate;
            animation: Updown1-650px 4s infinite alternate;
  }
}

@-webkit-keyframes Updown1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -80px;
  }
}

@keyframes Updown1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -80px;
  }
}

@-webkit-keyframes Updown1-650px {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -60px;
  }
}

@keyframes Updown1-650px {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -60px;
  }
}

@-webkit-keyframes Updown2 {
  from {
    margin-left: -80px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes Updown2 {
  from {
    margin-left: -80px;
  }
  to {
    margin-left: 0px;
  }
}

@-webkit-keyframes Updown2-650px {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes Updown2-650px {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0px;
  }
}

footer .grass_group .updown_bottom {
  width: 100vw;
  height: 5vw;
  position: relative;
  background-color: #46c134;
  z-index: 5;
  top: 16vw;
}

footer .ball {
  position: absolute;
  z-index: 3;
  top: -100%;
  left: 21%;
  width: 10%;
}

footer .ball img {
  width: 55%;
  /* width: 10vw; */
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation: ball_updown_roate 3s infinite alternate;
          animation: ball_updown_roate 3s infinite alternate;
}

@-webkit-keyframes ball_updown_roate {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(10px, 50px) rotate(50deg);
            transform: translate(10px, 50px) rotate(50deg);
  }
}

@keyframes ball_updown_roate {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(10px, 50px) rotate(50deg);
            transform: translate(10px, 50px) rotate(50deg);
  }
}

footer .roate_windmill {
  position: relative;
  position: absolute;
  top: -70%;
  right: 21%;
  width: 10%;
  z-index: 3;
}

footer .roate_windmill .windmill {
  width: 50%;
  -webkit-animation: Roate 2s infinite;
          animation: Roate 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes Roate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Roate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer .roate_windmill .windmill_stick {
  position: absolute;
  top: 20%;
  left: 22%;
  width: 17%;
  z-index: -1;
}

.footer_text {
  background-color: #46c134;
  margin-top: 15%;
  padding: 2%;
  text-align: center;
}

.footer_text .footer_logo_icon {
  width: 11%;
}

@media (max-width: 768px) {
  .footer_text .footer_logo_icon {
    width: 15%;
  }
}

.footer_text .footer_logo_icon:hover {
  -webkit-animation: beat .25s infinite alternate;
          animation: beat .25s infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes beat {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes beat {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.footer_text .company_name {
  font-size: 32px;
  font-family: 微軟正黑體;
  letter-spacing: 0.15em;
  margin: 0;
  color: white;
}

@media (max-width: 768px) {
  .footer_text .company_name {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .footer_text .company_name {
    font-size: 18px;
  }
}

@media (max-width: 495px) {
  .footer_text .company_name {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .footer_text .company_name {
    font-size: 12px;
  }
}

.footer_text .line_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer_text .line_icon .footer_bottom_line {
  display: inline-block;
  border: 1px solid white;
  width: 630PX;
  margin-left: 10%;
}

@media (max-width: 1000px) {
  .footer_text .line_icon .footer_bottom_line {
    width: 530px;
  }
}

@media (max-width: 768px) {
  .footer_text .line_icon .footer_bottom_line {
    border: 0.5px solid white;
    width: 400px;
  }
}

@media (max-width: 550px) {
  .footer_text .line_icon .footer_bottom_line {
    width: 280px;
  }
}

.footer_text .line_icon .footer_fb_icon {
  width: 9vw;
}

.footer_text .line_icon .footer_fb_icon:hover {
  -webkit-animation: beat .25s infinite alternate;
          animation: beat .25s infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes beat {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.footer_text .phone_number {
  clear: both;
  font-size: 29px;
  font-family: 微軟正黑體;
  letter-spacing: 0.15em;
  color: white;
  padding-bottom: 10%;
}

@media (max-width: 1015px) {
  .footer_text .phone_number {
    letter-spacing: 0em;
  }
}

@media (max-width: 768px) {
  .footer_text .phone_number {
    font-size: 19px;
  }
}

@media (max-width: 495px) {
  .footer_text .phone_number {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .footer_text .phone_number {
    font-size: 8px;
  }
}

.footer_text .phone_number .icon_A {
  font-size: 100%;
  padding: 0px 10px;
}

.footer_text .phone_number .icon_B {
  font-size: 94%;
  padding: 0px 10px;
}

.footer_text .copyright {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.025em;
  line-height: 2em;
  color: white;
}

@media (max-width: 768px) {
  .footer_text .copyright {
    font-size: 14px;
  }
}

@media (max-width: 495px) {
  .footer_text .copyright {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .footer_text .copyright {
    font-size: 8px;
  }
}

/* button-_fixed */
.btt {
  position: fixed;
  right: 100px;
  bottom: 320px;
  z-index: 10;
  width: 5%;
}

@media (max-width: 1100px) {
  .btt {
    width: 6%;
    right: 50px;
    bottom: 240px;
  }
}

@media (max-width: 520px) {
  .btt {
    right: 30px;
  }
}

@media (max-width: 375px) {
  .btt {
    width: 8%;
    right: 29px;
  }
}

.btt:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.illstration_map {
  position: fixed;
  right: 0px;
  bottom: 210px;
  z-index: 10;
  width: 70px;
}

@media (max-width: 1000px) {
  .illstration_map {
    width: 50px;
  }
}

@media (max-width: 768px) {
  .illstration_map {
    width: 40px;
  }
}

.illstration_map:hover {
  -webkit-animation: beat .25s infinite alternate;
          animation: beat .25s infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes beat {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.illstration_contact {
  position: fixed;
  right: 0px;
  bottom: 100px;
  z-index: 10;
  width: 70px;
}

@media (max-width: 1000px) {
  .illstration_contact {
    bottom: 120px;
    width: 50px;
  }
}

@media (max-width: 768px) {
  .illstration_contact {
    bottom: 150px;
    width: 40px;
  }
}

.illstration_contact:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: beat .25s infinite alternate;
          animation: beat .25s infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@keyframes beat {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=pagetwo_service.css.map */