@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.nav_jump-in {
  width: 100%;
  background-color: #5ce0de;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

@media (max-width: 1740px) {
  .nav_jump-in {
    display: none !important;
  }
}

.nav_jump-in .logo {
  height: 110px;
  padding: 20px 60px 20px 200px;
  margin: 0;
  float: left;
}

.nav_jump-in .nav_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  float: left;
}

.nav_jump-in .nav_button .button {
  padding: 45px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav_jump-in .nav_button .button:hover {
  color: #686869;
  cursor: pointer;
}

.nav_jump-in .nav_button .button:hover .button_img {
  -webkit-animation: button_img 2.5s infinite;
          animation: button_img 2.5s infinite;
}

@-webkit-keyframes button_img {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes button_img {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

.nav_jump-in .nav_button .button .button_text {
  text-align: center;
}

.nav_jump-in .nav_button .button .button_text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.nav_jump-in .nav_button .button .button_text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.nav_jump-in .nav_button .button .button_img {
  width: 50px;
  height: 66px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.page_one_nav {
  width: 100%;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
}

@media (max-width: 1740px) {
  .page_one_nav {
    display: none;
  }
}

.page_one_nav .navbar01 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
}

.page_one_nav .navbar01 .logo {
  width: 130px;
  height: 110px;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  left: 200px;
  z-index: 10;
}

.page_one_nav .navbar01 .circles {
  width: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #fff;
}

.page_one_nav .navbar01 .circles .circle_01 {
  position: relative;
  top: 50px;
  left: 100px;
}

.page_one_nav .navbar01 .circles .circle_01:hover {
  color: #686869;
  cursor: pointer;
}

.page_one_nav .navbar01 .circles .circle_01 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page_one_nav .navbar01 .circles .circle_01 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_01 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_02 {
  position: absolute;
  right: calc(45% - 85px);
  top: 150px;
}

.page_one_nav .navbar01 .circles .circle_02:hover {
  color: #686869;
  cursor: pointer;
}

.page_one_nav .navbar01 .circles .circle_02 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page_one_nav .navbar01 .circles .circle_02 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_02 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_03 {
  position: absolute;
  right: 20px;
  top: 200px;
}

.page_one_nav .navbar01 .circles .circle_03:hover {
  color: #686869;
  cursor: pointer;
}

.page_one_nav .navbar01 .circles .circle_03 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page_one_nav .navbar01 .circles .circle_03 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.page_one_nav .navbar01 .circles .circle_03 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.page_one_banner {
  width: 100%;
  position: relative;
}

.page_one_banner .page_one_img_banner {
  width: 100%;
}

.page_one_banner .banner_text_all_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-5%, -150%);
          transform: translate(-5%, -150%);
  color: #686869;
}

.page_one_banner .banner_text_all_box .banner_text_box {
  padding-bottom: 30px;
}

.page_one_banner .banner_text_all_box .banner_text_box .title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_one_banner .banner_text_all_box .banner_text_box .title .box {
  padding-top: 35px;
  width: 200px;
}

.page_one_banner .banner_text_all_box .banner_text_box .title .box h1 {
  margin: 0;
  font-family: "微軟正黑體";
  font-size: 30px;
  letter-spacing: 5px;
  border-bottom: solid #686869 1px;
  padding-bottom: 5px;
  font-weight: lighter;
}

.page_one_banner .banner_text_all_box .banner_text_box .title .box h2 {
  margin: 0;
  padding-top: 5px;
  font-size: 30px;
  font-family: "Arial";
  font-weight: lighter;
}

.page_one_banner .banner_text_all_box .banner_text_box .title img {
  height: 115px;
}

.page_one_banner .banner_text_all_box .text p {
  margin: 0;
  font-family: "微軟正黑體";
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
  font-weight: lighter;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.page_one_content {
  width: 100%;
}

.page_one_content .park_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 150px;
}

.page_one_content .park_features .park_features_left {
  width: 570px;
}

.page_one_content .park_features .park_features_right {
  width: 570px;
}

.page_one_content .park_features .park_features_cut {
  width: 466px;
  display: none;
}

.page_one_content .nursery_room_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 150px;
}

.page_one_content .nursery_room_features .nursery_room_features_left {
  width: 584px;
}

.page_one_content .nursery_room_features .nursery_room_features_right {
  width: 555PX;
}

.page_one_content .nursery_room_features .nursery_room_features_cut {
  width: 466px;
  display: none;
}

.page_one_content .toddler_daily {
  padding-bottom: 150px;
}

.page_one_content .toddler_daily .title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_one_content .toddler_daily .title_box .toddler_daily_title {
  width: 360px;
}

.page_one_content .toddler_daily .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_one_content .toddler_daily .photo .toddler_daily_left {
  width: 550px;
}

.page_one_content .toddler_daily .photo .toddler_daily_right {
  width: 589px;
}

.page_one_content .toddler_daily .toddler_daily_cut {
  width: 480px;
  display: none;
}

.page_one_content .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 150px;
}

.page_one_content .book .page_one_button_book {
  width: 424px;
}

footer {
  overflow: hidden;
  /* width: 100%; */
  padding-top: 13%;
}

footer .grass_group {
  position: relative;
}

footer .grass_group .updown_1 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown1 2.5s infinite alternate;
          animation: Updown1 2.5s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 4;
  top: 15px;
}

@media (max-width: 650px) {
  footer .grass_group .updown_1 {
    -webkit-animation: Updown1-650px 2.2s infinite alternate;
            animation: Updown1-650px 2.2s infinite alternate;
  }
}

footer .grass_group .updown_2 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown2 2.5s infinite alternate;
          animation: Updown2 2.5s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 2;
}

@media (max-width: 650px) {
  footer .grass_group .updown_2 {
    -webkit-animation: Updown2-650px 2.2s infinite alternate;
            animation: Updown2-650px 2.2s infinite alternate;
  }
}

footer .grass_group .updown_3 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown1 4s infinite alternate;
          animation: Updown1 4s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 1;
}

@media (max-width: 650px) {
  footer .grass_group .updown_3 {
    -webkit-animation: Updown1-650px 4s infinite alternate;
            animation: Updown1-650px 4s infinite alternate;
  }
}

@-webkit-keyframes Updown1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -80px;
  }
}

@keyframes Updown1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -80px;
  }
}

@-webkit-keyframes Updown1-650px {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -60px;
  }
}

@keyframes Updown1-650px {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -60px;
  }
}

@-webkit-keyframes Updown2 {
  from {
    margin-left: -80px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes Updown2 {
  from {
    margin-left: -80px;
  }
  to {
    margin-left: 0px;
  }
}

@-webkit-keyframes Updown2-650px {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes Updown2-650px {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0px;
  }
}

footer .grass_group .updown_bottom {
  width: 100vw;
  height: 5vw;
  position: relative;
  background-color: #46c134;
  z-index: 5;
  top: 16vw;
}

footer .roate_windmill {
  position: relative;
  position: absolute;
  top: -7%;
  right: 21%;
  width: 10%;
  z-index: 3;
}

@media (max-width: 768px) {
  footer .roate_windmill {
    top: -4%;
  }
}

@media (max-width: 500px) {
  footer .roate_windmill {
    top: -3%;
  }
}

@media (max-width: 375px) {
  footer .roate_windmill {
    top: -5%;
  }
}

footer .roate_windmill .windmill {
  width: 50%;
  -webkit-animation: Roate 2s infinite;
          animation: Roate 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes Roate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Roate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer .roate_windmill .windmill_stick {
  position: absolute;
  top: 20%;
  left: 22%;
  width: 17%;
  z-index: -1;
}

.footer_text {
  background-color: #46c134;
  margin-top: 15%;
  padding: 2%;
  text-align: center;
}

.footer_text .footer_logo_icon {
  width: 11%;
}

.footer_text .company_name {
  font-size: 32px;
  font-family: 微軟正黑體;
  letter-spacing: 0.15em;
  margin: 0;
  color: white;
}

@media (max-width: 768px) {
  .footer_text .company_name {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .footer_text .company_name {
    font-size: 18px;
  }
}

@media (max-width: 495px) {
  .footer_text .company_name {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .footer_text .company_name {
    font-size: 12px;
  }
}

.footer_text .line_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer_text .line_icon .footer_bottom_line {
  display: inline-block;
  border: 1px solid white;
  width: 630PX;
  margin-left: 10%;
}

@media (max-width: 1000px) {
  .footer_text .line_icon .footer_bottom_line {
    width: 530px;
  }
}

@media (max-width: 768px) {
  .footer_text .line_icon .footer_bottom_line {
    border: 0.5px solid white;
    width: 400px;
  }
}

@media (max-width: 550px) {
  .footer_text .line_icon .footer_bottom_line {
    width: 280px;
  }
}

.footer_text .line_icon .footer_fb_icon {
  width: 9vw;
}

.footer_text .phone_number {
  clear: both;
  font-size: 29px;
  font-family: 微軟正黑體;
  letter-spacing: 0.15em;
  color: white;
  padding-bottom: 10%;
}

@media (max-width: 1015px) {
  .footer_text .phone_number {
    letter-spacing: 0em;
  }
}

@media (max-width: 768px) {
  .footer_text .phone_number {
    font-size: 19px;
  }
}

@media (max-width: 495px) {
  .footer_text .phone_number {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .footer_text .phone_number {
    font-size: 8px;
  }
}

.footer_text .phone_number .icon_A {
  font-size: 100%;
  padding: 0px 10px;
}

.footer_text .phone_number .icon_B {
  font-size: 94%;
  padding: 0px 10px;
}

.footer_text .copyright {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.025em;
  color: white;
}

@media (max-width: 768px) {
  .footer_text .copyright {
    font-size: 14px;
  }
}

@media (max-width: 495px) {
  .footer_text .copyright {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .footer_text .copyright {
    font-size: 8px;
  }
}

/* button-_fixed */
.btt {
  position: fixed;
  right: 100px;
  bottom: 320px;
  z-index: 10;
  width: 5%;
}

@media (max-width: 1100px) {
  .btt {
    width: 6%;
    right: 50px;
    bottom: 240px;
  }
}

@media (max-width: 520px) {
  .btt {
    right: 30px;
  }
}

@media (max-width: 375px) {
  .btt {
    width: 8%;
    right: 29px;
  }
}

.btt:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.illstration_map {
  position: fixed;
  right: 0px;
  bottom: 210px;
  z-index: 10;
  width: 5%;
}

@media (max-width: 768px) {
  .illstration_map {
    width: 6%;
    bottom: 196px;
  }
}

@media (max-width: 375px) {
  .illstration_map {
    width: 7%;
  }
}

.illstration_map:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.illstration_contact {
  position: fixed;
  right: 0px;
  bottom: 100px;
  z-index: 10;
  width: 5%;
}

@media (max-width: 1100px) {
  .illstration_contact {
    bottom: 145px;
  }
}

@media (max-width: 768px) {
  .illstration_contact {
    width: 6%;
  }
}

@media (max-width: 520px) {
  .illstration_contact {
    bottom: 159px;
  }
}

@media (max-width: 375px) {
  .illstration_contact {
    width: 7%;
    bottom: 165px;
  }
}

.illstration_contact:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1700px) {
  .page_one_nav {
    display: none;
  }
  .nav_jump-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page_one_banner .banner_text_all_box {
    position: unset;
    top: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .page_one_banner .banner_text_all_box .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1280px) {
  .page_one_content .park_features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page_one_content .park_features .park_features_left {
    display: none;
  }
  .page_one_content .park_features .park_features_right {
    display: none;
  }
  .page_one_content .park_features .park_features_cut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page_one_content .nursery_room_features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page_one_content .nursery_room_features .nursery_room_features_left {
    display: none;
  }
  .page_one_content .nursery_room_features .nursery_room_features_right {
    display: none;
  }
  .page_one_content .nursery_room_features .nursery_room_features_cut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page_one_content .toddler_daily {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_one_content .toddler_daily .title_box {
    display: none;
  }
  .page_one_content .toddler_daily .photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .page_one_content .toddler_daily .toddler_daily_cut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .page_one_content .park_features .park_features_cut {
    width: 366px;
  }
  .page_one_content .nursery_room_features .nursery_room_features_cut {
    width: 366px;
  }
  .page_one_content .toddler_daily .toddler_daily_cut {
    width: 366px;
  }
  .page_one_content .book .page_one_button_book {
    width: 269px;
  }
}

@media screen and (max-width: 375px) {
  .page_one_banner .banner_text_all_box {
    position: unset;
    top: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    padding-top: 50px;
    padding-bottom: 150px;
  }
  .page_one_banner .banner_text_all_box .banner_text_box .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_one_banner .banner_text_all_box .banner_text_box .title .box {
    width: 150px;
  }
  .page_one_banner .banner_text_all_box .banner_text_box .title .box h1 {
    font-size: 20px;
  }
  .page_one_banner .banner_text_all_box .banner_text_box .title .box h2 {
    font-size: 20px;
  }
  .page_one_banner .banner_text_all_box .banner_text_box .title img {
    height: 100px;
  }
  .page_one_banner .banner_text_all_box .text p {
    font-size: 20px;
  }
  .page_one_content .toddler_daily {
    padding-bottom: 50px;
  }
  .page_one_content .book {
    padding-bottom: 50px;
  }
  .page_one_content .book .page_one_button_book {
    width: 169px;
  }
}
/*# sourceMappingURL=pageone_style.css.map */