@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

form {
  padding: 50px;
}

@media (max-width: 400px) {
  form {
    padding: 25px;
  }
}

#sec_1 {
  width: 100%;
  margin: auto;
  padding: 208px;
  padding-top: 528px;
}

#sec_1 .row .title {
  max-width: 100%;
  height: 100px;
  margin: auto;
}

#sec_1 .con_left {
  width: 50%;
  z-index: 10;
  position: relative;
  left: 100px;
}

#sec_1 .con_left img {
  right: -100px;
  width: 100%;
}

#sec_1 .con_right {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  z-index: 2;
  padding: 80px;
}

@media (max-width: 580px) {
  #sec_1 .con_right {
    padding: 40px;
  }
}

@media (max-width: 480px) {
  #sec_1 .con_right {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 440px) {
  #sec_1 .con_right {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.text {
  width: 80%;
  margin-left: 100px;
}

@media (max-width: 1600px) {
  .text {
    margin-left: 40px;
  }
}

@media (max-width: 515px) {
  .h2, h2 {
    font-size: 24px;
  }
}

@media (max-width: 420px) {
  .h2, h2 {
    font-size: 20px;
  }
}

.block {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.icon_AA {
  float: left;
  font-size: 35px;
  margin-right: 15px;
  color: #FF8686;
}

.icon_BB {
  float: left;
  font-size: 33px;
  margin-right: 23px;
  color: #FF8686;
}

.row {
  margin-bottom: 30px;
}

.row1 {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color {
  color: #FF8686;
}

.color_2 {
  color: #5B5B5B;
}

.text_35 {
  font-size: 35px;
}

.text_20 {
  font-size: 20px;
}

.text_22 {
  font-size: 22px;
}

/* 長條navbar隱藏-scroll */
.nav_jump-in {
  display: none;
}

/* @media screen and (max-width: 1700px) {
    .navbar01{
      display: none;
  } 

    .nav_jump-in{
      display: flex;
  }
  
} */
@media screen and (max-width: 1280px) {
  #sec_1 {
    padding: 50px;
  }
  #sec_1 .row {
    padding: 120px;
  }
  #sec_1 .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sec_1 .con_left {
    width: 100%;
    left: 0;
  }
  #sec_1 .con_right {
    width: 100%;
    margin-top: 20px;
  }
  .con_right .text {
    padding: 100px;
    margin: auto;
  }
}

@media screen and (max-width: 1280px) and (max-width: 930px) {
  .con_right .text {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1280px) and (max-width: 780px) {
  .con_right .text {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 680px) {
  #sec_1 .row {
    padding: 80px;
  }
  .icon_AA, .icon_BB {
    display: none;
  }
  .con_right .text {
    padding: 0px;
    margin: 30px;
  }
  .text_35 {
    font-size: 24px;
  }
}

@media screen and (max-width: 680px) and (max-width: 400px) {
  .text_35 {
    font-size: 20px;
  }
}

@media screen and (max-width: 680px) {
  .text_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 680px) and (max-width: 400px) {
  .text_20 {
    font-size: 14px;
  }
}

@media screen and (max-width: 680px) {
  .text_22 {
    font-size: 18px;
  }
}

@media screen and (max-width: 680px) and (max-width: 400px) {
  .text_22 {
    font-size: 14px;
  }
}

#sec_2 {
  width: 100%;
  height: 500px;
}

#sec_2 iframe {
  border: 0;
}

#sec_3 {
  margin-top: 100px;
  position: relative;
}

#sec_3 .container {
  padding: 80px;
}

@media (max-width: 768px) {
  #sec_3 .container {
    padding: 50px;
  }
}

#sec_3 .container h2 {
  color: white;
}

#sec_3 img {
  width: 87%;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar01 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1740px) {
  .navbar01 {
    display: none;
  }
}

.navbar01 .logo {
  width: 130px;
  height: 110px;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  left: 200px;
  z-index: 99;
}

.navbar01 .circles {
  width: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #fff;
}

.navbar01 .circles .circle_01 {
  position: relative;
  top: 50px;
  left: 100px;
}

.navbar01 .circles .circle_01:hover {
  color: #686869;
  cursor: pointer;
}

.navbar01 .circles .circle_01 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar01 .circles .circle_01 .img_text .text {
  margin-left: 0px;
}

.navbar01 .circles .circle_01 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 10px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.navbar01 .circles .circle_01 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.navbar01 .circles .circle_02 {
  position: absolute;
  right: calc(45% - 85px);
  top: 150px;
}

.navbar01 .circles .circle_02:hover {
  color: #686869;
  cursor: pointer;
}

.navbar01 .circles .circle_02 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar01 .circles .circle_02 .img_text .text {
  margin-left: 0px;
}

.navbar01 .circles .circle_02 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.navbar01 .circles .circle_02 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.nav_jump-in {
  width: 100%;
  background-color: #FF8686;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 99;
  display: none;
}

@media (max-width: 1740px) {
  .nav_jump-in {
    display: none !important;
  }
}

.nav_jump-in .logo {
  height: 110px;
  padding: 20px 60px 20px 200px;
  margin: 0;
  float: left;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.nav_jump-in .nav_button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav_jump-in .nav_button .button {
  padding: 40px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav_jump-in .nav_button .button:hover {
  color: #686869;
  cursor: pointer;
}

.nav_jump-in .nav_button .button:hover .button_img {
  -webkit-animation: button_img 2.5s infinite;
          animation: button_img 2.5s infinite;
}

@-webkit-keyframes button_img {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes button_img {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

.nav_jump-in .nav_button .button .button_text {
  text-align: center;
}

.nav_jump-in .nav_button .button .button_text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.nav_jump-in .nav_button .button .button_text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.nav_jump-in .nav_button .button .button_img {
  width: 50px;
  height: 66px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background-repeat: no-repeat;
  margin-left: 10px;
}

footer {
  overflow: hidden;
  /* width: 100%; */
  padding-top: 13%;
}

footer .grass_group {
  position: relative;
}

footer .grass_group .updown_1 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown1 2.5s infinite alternate;
          animation: Updown1 2.5s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 4;
  top: 15px;
}

@media (max-width: 650px) {
  footer .grass_group .updown_1 {
    -webkit-animation: Updown1-650px 2.2s infinite alternate;
            animation: Updown1-650px 2.2s infinite alternate;
  }
}

footer .grass_group .updown_2 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown2 2.5s infinite alternate;
          animation: Updown2 2.5s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 2;
}

@media (max-width: 650px) {
  footer .grass_group .updown_2 {
    -webkit-animation: Updown2-650px 2.2s infinite alternate;
            animation: Updown2-650px 2.2s infinite alternate;
  }
}

footer .grass_group .updown_3 {
  /* overflow: hidden; */
  width: 120%;
  position: absolute;
  -webkit-animation: Updown1 4s infinite alternate;
          animation: Updown1 4s infinite alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 1;
}

@media (max-width: 650px) {
  footer .grass_group .updown_3 {
    -webkit-animation: Updown1-650px 4s infinite alternate;
            animation: Updown1-650px 4s infinite alternate;
  }
}

@-webkit-keyframes Updown1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -80px;
  }
}

@keyframes Updown1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -80px;
  }
}

@-webkit-keyframes Updown1-650px {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -60px;
  }
}

@keyframes Updown1-650px {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -60px;
  }
}

@-webkit-keyframes Updown2 {
  from {
    margin-left: -80px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes Updown2 {
  from {
    margin-left: -80px;
  }
  to {
    margin-left: 0px;
  }
}

@-webkit-keyframes Updown2-650px {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes Updown2-650px {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0px;
  }
}

footer .grass_group .updown_bottom {
  width: 100vw;
  height: 5vw;
  position: relative;
  background-color: #46c134;
  z-index: 5;
  top: 16vw;
}

footer .roate_windmill {
  position: relative;
  position: absolute;
  top: -70%;
  right: 21%;
  width: 10%;
  z-index: 3;
}

footer .roate_windmill .windmill {
  width: 50%;
  -webkit-animation: Roate 2s infinite;
          animation: Roate 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes Roate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Roate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer .roate_windmill .windmill_stick {
  position: absolute;
  top: 20%;
  left: 22%;
  width: 17%;
  z-index: -1;
}

.footer_text {
  background-color: #46c134;
  margin-top: 15%;
  padding: 2%;
  text-align: center;
}

.footer_text .footer_logo_icon {
  width: 11%;
}

.footer_text .company_name {
  font-size: 32px;
  font-family: 微軟正黑體;
  letter-spacing: 0.15em;
  margin: 0;
  color: white;
}

@media (max-width: 768px) {
  .footer_text .company_name {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .footer_text .company_name {
    font-size: 18px;
  }
}

@media (max-width: 495px) {
  .footer_text .company_name {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .footer_text .company_name {
    font-size: 12px;
  }
}

.footer_text .line_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer_text .line_icon .footer_bottom_line {
  display: inline-block;
  border: 1px solid white;
  width: 630PX;
  margin-left: 10%;
}

@media (max-width: 1000px) {
  .footer_text .line_icon .footer_bottom_line {
    width: 530px;
  }
}

@media (max-width: 768px) {
  .footer_text .line_icon .footer_bottom_line {
    border: 0.5px solid white;
    width: 400px;
  }
}

@media (max-width: 550px) {
  .footer_text .line_icon .footer_bottom_line {
    width: 280px;
  }
}

.footer_text .line_icon .footer_fb_icon {
  width: 9vw;
}

.footer_text .phone_number {
  clear: both;
  font-size: 29px;
  font-family: 微軟正黑體;
  letter-spacing: 0.15em;
  color: white;
  padding-bottom: 10%;
}

@media (max-width: 1015px) {
  .footer_text .phone_number {
    letter-spacing: 0em;
  }
}

@media (max-width: 768px) {
  .footer_text .phone_number {
    font-size: 19px;
  }
}

@media (max-width: 495px) {
  .footer_text .phone_number {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .footer_text .phone_number {
    font-size: 8px;
  }
}

.footer_text .phone_number .icon_A {
  font-size: 100%;
  padding: 0px 10px;
}

.footer_text .phone_number .icon_B {
  font-size: 94%;
  padding: 0px 10px;
}

.footer_text .copyright {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.025em;
  line-height: 3em;
  color: white;
}

@media (max-width: 768px) {
  .footer_text .copyright {
    font-size: 14px;
  }
}

@media (max-width: 495px) {
  .footer_text .copyright {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .footer_text .copyright {
    font-size: 8px;
  }
}

/* button-_fixed */
.btt {
  position: fixed;
  right: 100px;
  bottom: 320px;
  z-index: 10;
  width: 5%;
}

@media (max-width: 1100px) {
  .btt {
    width: 6%;
    right: 50px;
    bottom: 240px;
  }
}

@media (max-width: 520px) {
  .btt {
    right: 30px;
  }
}

@media (max-width: 375px) {
  .btt {
    width: 8%;
    right: 29px;
  }
}

.btt:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.illstration_map {
  position: fixed;
  right: 0px;
  bottom: 210px;
  z-index: 10;
  width: 5%;
}

@media (max-width: 1000px) {
  .illstration_map {
    width: 50px;
  }
}

@media (max-width: 768px) {
  .illstration_map {
    width: 40px;
    bottom: 215px;
  }
}

.illstration_map:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.illstration_contact {
  position: fixed;
  right: 0px;
  bottom: 100px;
  z-index: 10;
  width: 5%;
}

@media (max-width: 1100px) {
  .illstration_contact {
    bottom: 145px;
  }
}

@media (max-width: 1000px) {
  .illstration_contact {
    width: 50px;
  }
}

@media (max-width: 768px) {
  .illstration_contact {
    width: 40px;
  }
}

@media (max-width: 520px) {
  .illstration_contact {
    bottom: 140px;
  }
}

@media (max-width: 375px) {
  .illstration_contact {
    bottom: 165px;
  }
}

.illstration_contact:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=pagethree_style.css.map */