*{
    font-family: "微軟正黑體";
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
}


//navbar_滿果_nav_jump-in -->
.nav_jump-in {
    width: 100%;
    background-color: rgb(92, 224, 222);
    display: none;
    position: sticky;
    top: 0;
    z-index: 99;
    @media (max-width: 1740px){
        display: none !important;
    }
    .logo {
        height: 110px;
        padding: 20px 60px 20px 200px;
        margin: 0;
        float: left;
    }

    .nav_button {
        display: flex;
        justify-content: space-around;
        float: left;
        .button {
            padding: 45px 0px 40px 0px;
            display: flex;
            color: #fff;
            transition: 0.5s;
            
            &:hover {
                color: rgb(104, 104, 105);
                cursor: pointer;

                .button_img {
                    animation: button_img 2.5s infinite;
                }

                @keyframes button_img {
                    0%   {top: 0px; left: 0px;}
                    50%  {top: 10px; left: 0px;;}
                    100%  {top: 0px; left: 0px;;}
                }
            }
          
            .button_text {
                text-align: center;
                
                h1 {
                    font-size: 22px;
                    margin: 0;
                    padding-top: 20px;
                    font-family: "微軟正黑體";
                    letter-spacing: 6px;
                    font-weight: lighter;
                }
    
                h2 {
                    font-size: 15px;
                    margin: 0;
                    font-family: "Arial";
                    letter-spacing: 1px;
                    font-weight: lighter;
                }
            }

            .button_img {
                width: 50px;
                height: 66px;
                transition: 0.5s;
                position: relative;
                background-repeat: no-repeat;
                margin-left: 10px;
            }

        }
    }
}



// page_one_nav
.page_one_nav {
    width: 100%;
    margin: 0;
    position: relative;
    top: 0;
    // position: sticky;
    z-index: 20;
    @media(max-width:1740px){
        display: none;
    }
    .navbar01 {
        position: absolute;
        top: 0;
        width: 100%;
        height: 320px;
        
        background-size: cover;
        background-repeat: no-repeat;

        .logo {
            width: 130px;
            height: 110px;
            
            background-repeat: no-repeat;
            position: absolute;
            top: 20px;
            left: 200px;
            z-index: 10;
        }
    
        .circles {
            width: 50%;
            margin-left: auto;
            display: flex;
            position: relative;
            color: #fff;
    
            .circle_01 {
                position: relative;
                top: 50px;
                left: 100px;
    
                &:hover {
                    color: rgb(104, 104, 105);
                    cursor: pointer;
                }
    
                .img_text {
                    width: 170px;
                    height: 170px;
                    background-position: center;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
    
                    .text {
                        h1 {
                            font-size: 22px;
                            margin: 0;
                            padding-top: 20px;
                            font-family: "微軟正黑體";
                            letter-spacing: 6px;
                            font-weight: lighter;
                        }
            
                        h2 {
                            font-size: 15px;
                            margin: 0;
                            font-family: "Arial";
                            letter-spacing: 1px;
                            font-weight: lighter;
                        }
                    }
                }
            }
    
            .circle_02 {
                position: absolute;
                right: calc(45% - 85px);
                top: 150px;
    
                &:hover {
                    color: rgb(104, 104, 105);
                    cursor: pointer;
                }
    
                .img_text {
                    width: 170px;
                    height: 170px;
                    background-position: center;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
    
                    .text {
                        h1 {
                            font-size: 22px;
                            margin: 0;
                            padding-top: 20px;
                            font-family: "微軟正黑體";
                            letter-spacing: 6px;
                            font-weight: lighter;
                        }
            
                        h2 {
                            font-size: 15px;
                            margin: 0;
                            font-family: "Arial";
                            letter-spacing: 1px;
                            font-weight: lighter;
                        }
                    }
                }
            }
    
            .circle_03 {
                position: absolute;
                right: 20px;
                top: 200px;
    
                &:hover {
                    color: rgb(104, 104, 105);
                    cursor: pointer;
                }
    
                .img_text {
                    width: 170px;
                    height: 170px;
                    background-position: center;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
    
                    .text {
                        h1 {
                            font-size: 22px;
                            margin: 0;
                            padding-top: 20px;
                            font-family: "微軟正黑體";
                            letter-spacing: 6px;
                            font-weight: lighter;
                        }
            
                        h2 {
                            font-size: 15px;
                            margin: 0;
                            font-family: "Arial";
                            letter-spacing: 1px;
                            font-weight: lighter;
                        }
                    }
                }
            }
        }
    }
}


// page_one_nav_and_banner
.page_one_banner {
    width: 100%;
    position: relative;

    .page_one_img_banner {
        width: 100%;
    }

    //banner_text
    .banner_text_all_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-5%, -150%);
        color: rgb(104, 104, 105);

        .banner_text_box {
            padding-bottom: 30px;

            .title {
                text-align: center;
                display: flex;
    
                .box {
                    padding-top: 35px;
                    width: 200px;

                    h1 {
                        margin: 0;
                        font-family: "微軟正黑體";
                        font-size: 30px;
                        letter-spacing: 5px;
                        border-bottom: solid rgb(104, 104, 105) 1px;
                        padding-bottom: 5px;
                        // font-weight: lighter;
                    }
        
                    h2 {
                        margin: 0;
                        padding-top: 5px;
                        font-size: 30px;
                        font-family: "Arial";
                        font-weight: lighter;
                    }
                }
                
                img {
                    height: 115px;
                }
            }
        }
        
        .text {
            p {
                margin: 0;
                font-family: "微軟正黑體";
                font-size: 25px;
                letter-spacing: 5px;
                text-align: center;
                // font-weight: lighter;
            }
        }
    }
}


// page_one_content
.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}


.page_one_content {

    width: 100%;

    .park_features {
        display: flex;
        padding-bottom: 150px;

        .park_features_left {
            width: 570px;
        }

        .park_features_right {
            width: 570px;
        }

        .park_features_cut {
            width: 466px;
            display: none;
        }        
    }

    .nursery_room_features {
        display: flex;
        padding-bottom: 150px;

        .nursery_room_features_left {
            width: 584px;
        }

        .nursery_room_features_right {
            width: 555PX;
        }

        .nursery_room_features_cut {
            width: 466px;
            display: none;
        }
    }

    .toddler_daily {
        padding-bottom: 150px;

        .title_box {
            display: flex;
            justify-content: center;

            .toddler_daily_title {
                width: 360px;
            }
        }
        
        .photo {
            display: flex;

            .toddler_daily_left {
                width: 550px;
            }

            .toddler_daily_right {
                width: 589px;
            }
        }

        .toddler_daily_cut {
            width: 480px;
            display: none;
        }
    }

    .book {
        display: flex;
        justify-content: center;
        padding-bottom: 150px;

        .page_one_button_book {
            width: 424px;
        }
    }
}

//footer


footer {
    overflow: hidden;
    /* width: 100%; */
    padding-top: 13%;

    .grass_group {
        position: relative;
        .updown_1 {
            /* overflow: hidden; */
            width: 120%;
            position: absolute;
            animation: Updown1 2.5s infinite alternate;
            animation-timing-function:linear;
            z-index: 4;
            top: 15px;
            @media(max-width: 650px){
                animation: Updown1-650px 2.2s infinite alternate;
            }
        }

        .updown_2 {
            /* overflow: hidden; */
            width: 120%;
            position: absolute;
            animation: Updown2 2.5s infinite alternate;
            animation-timing-function:linear;
            z-index: 2;
            @media(max-width: 650px){
                animation: Updown2-650px 2.2s infinite alternate;
            }
        }

        .updown_3 {
            /* overflow: hidden; */
            width: 120%;
            position: absolute;
            animation: Updown1 4s infinite alternate;
            animation-timing-function:linear;
            z-index: 1;
            @media(max-width: 650px){
                animation: Updown1-650px 4s infinite alternate;
            }
        }

        @keyframes Updown1 {
            from {
                margin-left: 0px;
            }
            to {
                margin-left: -80px;
            }
            
        }
        @keyframes Updown1-650px {
            from {
                margin-left: 0px;
            }
            to {
                margin-left: -60px;
            }
            
        }

        @keyframes Updown2 {
            from {
                margin-left: -80px;
            }
            to {
                margin-left: 0px;
            }
        }
        @keyframes Updown2-650px {
            from {
                margin-left: -40px;
            }
            to {
                margin-left: 0px;
            }
        }


        

        .updown_bottom {
            width: 100vw;
            height: 5vw;
            position: relative;
            background-color: #46c134;
            z-index: 5;
            top: 16vw;
              
            }
            
        }

       

        .roate_windmill {

            position: relative;
            position: absolute;
            top: -70%;
            right: 21%;
            width: 10%;
            z-index: 3;
            // @media (max-width: 768px){
            //     top: -4%;                        
            // } 
            // @media (max-width: 500px){
            //     top: -3%;                        
            // }
            // @media (max-width: 375px){
            //     top: -5%;                        
            // }
            .windmill {     
                width: 50%;           
                animation: Roate 2s infinite ;
                animation-timing-function:linear
            }
                    @keyframes  Roate{
                0% {transform: rotate(0deg);}
                100% {transform: rotate(360deg);}
                
            }
            .windmill_stick {
                position: absolute;
                top: 20%;
                left: 22%;
                width: 17%;
                z-index: -1;
            }
        
    }
}


// footer_text
.footer_text{
    background-color: #46c134;
    margin-top:15%;
    padding: 2%;
    text-align: center;
.footer_logo_icon{
   width: 11%;
   
}    
.company_name{
    font-size: 32px;
    font-family: 微軟正黑體;
    letter-spacing: 0.15em;
    margin: 0;
    color: white;
   
   @media (max-width: 768px){
       font-size: 20px;                        
   }  
   @media (max-width: 550px){
       font-size: 18px;                        
   } 
   @media (max-width: 495px){
       font-size: 15px;                        
   }
   @media (max-width: 375px){
       font-size: 12px;                        
   }
}
.line_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   .footer_bottom_line{
        // position:relative;
        // top: 50%;
        // left: 40px;
        // width: 100%;
        display: inline-block;
        border: 1px solid white;
        width: 630PX;
        margin-left: 10%;
        @media (max-width: 1000px){
            width:530px;
                                
        } 
        @media (max-width: 768px){
            border: 0.5px solid white;
            width:400px;
        } 
        @media (max-width: 550px){
            width:280px;                   
        } 
    }
    
    .footer_fb_icon{
        // text-align: right;
        width:9vw;
        @media (max-width: 860px){
            // width: 13%;                        
        } 
        @media (max-width: 375px){
            // width: 11%;                        
        } 
    }
 
}    
  

.phone_number{
    clear: both;
    font-size: 29px;
    font-family: 微軟正黑體;
    letter-spacing: 0.15em;
    color: white;
    padding-bottom: 10%;
    
    @media (max-width: 1015px){
        letter-spacing: 0em;
        }
    @media (max-width: 768px){
            font-size: 19px;
        }
    @media (max-width: 495px){
            font-size: 15px;                        
        }
    @media (max-width: 375px){
            font-size: 8px;                        
        }
     
        .icon_A{
            font-size: 100%;
            padding: 0px 10px;
        }
        
        .icon_B {
            font-size: 94%;
            padding: 0px 10px;
        }



     

    // &::before{
        //  content: url('../03_img/02_p2/white_small_circle.png');}
   
    // span::before {
        //  content: url('../03_img/02_p2/white_small_circle.png');}
 }
 
.copyright {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3em;
    letter-spacing: 0.025em;
    color: white;
    
    @media (max-width: 768px){
        font-size: 14px;                        
    } 
    @media (max-width: 495px){
        font-size: 12px;                        
    }
    @media (max-width: 375px){
        font-size: 8px;                        
    }
}

}

/* button-_fixed */
.btt {
    position: fixed;
    right: 100px;
    bottom: 320px;
    z-index: 10;
    width: 5%;
    @media (max-width: 1100px){
        width: 6%;
        right: 50px;
        bottom: 240px;                      
    } 
    @media (max-width: 520px){
        right:30px                       
    }
    @media (max-width: 375px){
        width: 8%;
        right: 29px;
    } 
    &:hover{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
transition: 0.3s;
    }
}


.illstration_map {
    position: fixed;
    right: 0px;
    bottom: 210px;
    z-index: 10;
    width: 5%;
    @media (max-width: 1000px){
        width: 50px;
    }
    @media (max-width: 768px){
        width: 40px;
        bottom: 215px;                       
    } 
    // @media (max-width: 375px){
    //     width: 40px;
    // }
    &:hover{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }
}

.illstration_contact {
    position: fixed;
    right: 0px;
    bottom: 100px;
    z-index: 10;
    width: 5%;
    @media (max-width: 1100px){
        bottom: 145px;
    }
    @media (max-width: 1000px){
        width: 50px;
    }
    @media (max-width: 768px){
        width: 40px;
    }
    @media (max-width: 520px){
        bottom: 140px;                       
    }
    @media (max-width: 375px){
        bottom: 165px;                       
    }
    &:hover{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
transition: 0.3s;
    }
}



// page_one_media
@media screen and (max-width:1700px) {
    .page_one_nav {
        display: none;
    }

    .nav_jump-in {
        display: flex;
    }
    .page_one_banner {
        .banner_text_all_box {
            position: unset;
            top: unset;
            left: unset;
            transform: unset;
            padding-top: 150px;
            padding-bottom: 150px;
            
            .title {
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width:1280px) {
    .page_one_content {
        .park_features {
            flex-direction: column;
            align-items: center;

            .park_features_left {
                display: none;
            }

            .park_features_right {
                display: none;
            }

            .park_features_cut {
                display: flex;
            }
        }

        .nursery_room_features {
            flex-direction: column;
            align-items: center;
            
            .nursery_room_features_left {
                display: none;
            }

            .nursery_room_features_right {
                display: none;
            }

            .nursery_room_features_cut {
                display: flex;
            }
        }

        .toddler_daily{
            display: flex;
            justify-content: center;

            .title_box {
                display: none;
            }

            .photo {
                flex-direction: column;
                align-items: center;
                display: none;
            }

            .toddler_daily_cut {
                display: block;
                height: auto;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .page_one_content {
        .park_features {
            .park_features_cut {
                width: 366px;
            }
        }

        .nursery_room_features {
            .nursery_room_features_cut {
                width: 366px;
            }
        }

        .toddler_daily{
            .toddler_daily_cut {
                width: 366px;
                height: 1008px;
            }
        }

        .book {
            .page_one_button_book {
                width: 269px;
            }
        }
    }
}

@media screen and (max-width:375px) {
    .page_one_banner {
        .banner_text_all_box {
            position: unset;
            top: unset;
            left: unset;
            transform: unset;
            padding-top: 50px;
            padding-bottom: 150px;
            
            .banner_text_box {
                .title {
                    justify-content: center;

                    .box {
                        width: 150px;

                        h1 {
                            font-size: 20px;
                        }

                        h2 {
                            font-size: 20px;
                        }
                    }

                    img {
                        height: 100px;
                    }
                }
            }

            .text {
                p {
                    font-size: 20px;
                }
            }
        }
    }

    .page_one_content {
        .toddler_daily{
            padding-bottom: 50px;
        }

        .book {
            padding-bottom: 50px;

            .page_one_button_book {
                width: 169px;
            }
        }
    }
}