@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#sec_1 {
  width: 100%;
  margin: auto;
  padding: 208px;
  padding-top: 528px;
}

#sec_1 .row .title {
  max-width: 100%;
  height: 100px;
  margin: auto;
}

#sec_1 .con_left {
  width: 50%;
  z-index: 10;
  position: relative;
  left: 100px;
}

#sec_1 .con_left img {
  right: -100px;
  width: 100%;
}

#sec_1 .con_right {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  z-index: 2;
  padding: 80px;
}

.text {
  width: 80%;
  margin-left: 100px;
}

.block {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.icon_A {
  float: left;
  font-size: 35px;
  margin-right: 15px;
  color: #FF8686;
}

.icon_B {
  float: left;
  font-size: 33px;
  margin-right: 23px;
  color: #FF8686;
}

.row {
  margin-bottom: 30px;
}

.row1 {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color {
  color: #FF8686;
}

.color_2 {
  color: #5B5B5B;
}

.text_35 {
  font-size: 35px;
}

.text_20 {
  font-size: 20px;
}

.text_22 {
  font-size: 22px;
}

/* 長條navbar隱藏-scroll */
.nav_jump-in {
  display: none;
}

/* @media screen and (max-width: 1700px) {
    .navbar01{
      display: none;
  } 

    .nav_jump-in{
      display: flex;
  }
  
} */
@media screen and (max-width: 1280px) {
  #sec_1 {
    padding: 50px;
  }
  #sec_1 .row {
    padding: 120px;
  }
  #sec_1 .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sec_1 .con_left {
    width: 100%;
    left: 0;
  }
  #sec_1 .con_right {
    width: 100%;
    margin-top: 20px;
  }
  .con_right .text {
    padding: 100px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 680px) {
  #sec_1 .row {
    padding: 80px;
  }
  .icon_A, .icon_B {
    display: none;
  }
  .con_right .text {
    padding: 0px;
    margin: 30px;
  }
  .text_35 {
    font-size: 18px;
  }
  .text_20 {
    font-size: 12px;
  }
  .text_22 {
    font-size: 12px;
  }
}

#sec_2 {
  width: 100%;
  height: 500px;
}

#sec_2 iframe {
  border: 0;
}

#sec_3 {
  margin-top: 100px;
  position: relative;
}

#sec_3 .container {
  padding: 80px;
}

#sec_3 .container h2 {
  color: white;
}

#sec_3 img {
  width: 87%;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar01 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar01 .logo {
  width: 130px;
  height: 110px;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  left: 200px;
  z-index: 99;
}

.navbar01 .circles {
  width: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #fff;
}

.navbar01 .circles .circle_01 {
  position: relative;
  top: 50px;
  left: 100px;
}

.navbar01 .circles .circle_01:hover {
  color: #686869;
  cursor: pointer;
}

.navbar01 .circles .circle_01 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar01 .circles .circle_01 .img_text .text {
  margin-left: 0px;
}

.navbar01 .circles .circle_01 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 10px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.navbar01 .circles .circle_01 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.navbar01 .circles .circle_02 {
  position: absolute;
  right: calc(45% - 85px);
  top: 150px;
}

.navbar01 .circles .circle_02:hover {
  color: #686869;
  cursor: pointer;
}

.navbar01 .circles .circle_02 .img_text {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar01 .circles .circle_02 .img_text .text {
  margin-left: 0px;
}

.navbar01 .circles .circle_02 .img_text .text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.navbar01 .circles .circle_02 .img_text .text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.nav_jump-in {
  top: 0%;
  width: 100%;
  background-color: #5ce0de;
  position: fixed;
  z-index: 99;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav_jump-in .logo {
  height: 110px;
  padding: 20px 60px 20px 200px;
  margin: 0;
}

.nav_jump-in .nav_button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav_jump-in .nav_button .button {
  padding: 40px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav_jump-in .nav_button .button:hover {
  color: #686869;
  cursor: pointer;
}

.nav_jump-in .nav_button .button:hover .button_img {
  -webkit-animation: button_img 2.5s infinite;
          animation: button_img 2.5s infinite;
}

@-webkit-keyframes button_img {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes button_img {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

.nav_jump-in .nav_button .button .button_text {
  text-align: center;
}

.nav_jump-in .nav_button .button .button_text h1 {
  font-size: 22px;
  margin: 0;
  padding-top: 20px;
  font-family: "微軟正黑體";
  letter-spacing: 6px;
  font-weight: lighter;
}

.nav_jump-in .nav_button .button .button_text h2 {
  font-size: 15px;
  margin: 0;
  font-family: "Arial";
  letter-spacing: 1px;
  font-weight: lighter;
}

.nav_jump-in .nav_button .button .button_img {
  width: 50px;
  height: 66px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background-repeat: no-repeat;
  margin-left: 10px;
}
/*# sourceMappingURL=pagethree_style.css.map */