* {
    box-sizing: border-box;
  }
  
  /* body {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    height: 100vh;
  } */
  
  .circle {
    position: relative;
    width: 50vh;
    height: 50vh;
    border: 25vh solid #222;
    /* border: 25vh solid transparent; */
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-transition: border 1s ease-in-out, background 1s ease-in-out;
    transition: border 1s ease-in-out, background 1s ease-in-out;
    -webkit-animation: circle 10s infinite linear;
            animation: circle 10s infinite linear;      
  }
  .circle span {
    position: relative;
    color: #111;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 15px;
    -webkit-animation: title 10s infinite linear;
            animation: title 10s infinite linear;
    -webkit-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
    z-index: 10;
    
  }
  .circle:hover {
    border: 1vh solid #eee;
  }
  .circle:hover span {
      color: blue;
    /* color: #eee; */
  }
  .circle:hover:before, .circle:hover:after {
    opacity: 0;
  }
  .circle:before, .circle:after {
    content: "";
    position: absolute;
    width: 50vh;
    height: 50vh;
    z-index: -1;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .circle:before {
    margin-top: -10px;
    margin-left: -10px;
    /* background: #333; */
    background: #333;
    color: #555;
    border-radius: 54% 47% 52% 49%;
    box-shadow: -10px -2px 0 0 currentColor;
    -webkit-animation: before 20s infinite;
            animation: before 20s infinite;
  }
  .circle:after {
    margin-top: 5px;
    margin-left: 5px;
    background: #444;
    color: #666;
    border-radius: 49% 51% 46% 52%;
    box-shadow: 2px 10px 0 0 lime;
    -webkit-animation: after 20s infinite;
            animation: after 20s infinite;
  }
  /* @-webkit-keyframes circle {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  } */
  @keyframes circle {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  /* @-webkit-keyframes title {
    0% {
      opacity: 0.2;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  } */
  @keyframes title {
    0% {
      opacity: 0.2;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  /* @-webkit-keyframes before {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      border-radius: 54% 47% 52% 49%;
      box-shadow: -10px -2px 0 0 currentColor;
    }
    50% {
      border-radius: 48% 51% 45% 53%;
      box-shadow: -2px -10px 0 0 currentColor;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      border-radius: 54% 47% 52% 49%;
      box-shadow: -10px -2px 0 0 currentColor;
    }
  } */
  @keyframes before {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      border-radius: 54% 47% 52% 49%;
      box-shadow: -10px -2px 0 0 currentColor;
    }
    50% {
      border-radius: 48% 51% 45% 53%;
      box-shadow: -2px -10px 0 0 currentColor;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      border-radius: 54% 47% 52% 49%;
      box-shadow: -10px -2px 0 0 currentColor;
    }
  }
  /* @-webkit-keyframes after {
    0% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      border-radius: 49% 51% 46% 52%;
      box-shadow: 2px 10px 0 0 currentColor;
    }
    50% {
      border-radius: 53% 47% 50% 44%;
      box-shadow: 8px 4px 0 0 currentColor;
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      border-radius: 49% 51% 46% 52%;
      box-shadow: 2px 10px 0 0 currentColor;
    }
  } */
  @keyframes after {
    0% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      border-radius: 49% 51% 46% 52%;
      box-shadow: 2px 10px 0 0 currentColor;
    }
    50% {
      border-radius: 53% 47% 50% 44%;
      box-shadow: 8px 4px 0 0 currentColor;
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      border-radius: 49% 51% 46% 52%;
      box-shadow: 2px 10px 0 0 currentColor;
    }
  }








  /*-----------------edited by myself---------------------*/
  .ground{
      width: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      height: 100vh;
      background-color: gold;
  }