$background_white:#eee;
// $swiperdot_black:black;

*{
    font-family: "微軟正黑體";
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: $background_white;
    --swiper-theme-color: black;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 10px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 5%;
    
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}
.display_none{
    display: none;
}
.display_block{
    display: block;
}

.outside_img {
    clip-path: url(#outside_mask);
}
.outside_img_mobile {
    clip-path: url(#outside_mask_mobile);
}

.middle_img{
    clip-path: url(#middle_mask);
}
.middle_img_mobile{
    clip-path: url(#middle_mask_mobile);
}

.inside_img{
    clip-path: url(#inside_mask);
}
.inside_img_mobile{
    clip-path: url(#inside_mask_mobile);
}
.demo {
    position: fixed;
    width: 100%;
}

.outside_contain {
    width: 100%;
    height: auto;
    background-color: #eee;
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
    }
}
.middle_contain{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    opacity: 0.8;
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
    }
}
.inside_contain{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    opacity: 0.3;
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
    }
}

.cover4{
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
        #about_text{
            pointer-events: none;
        }
        #contact_text{
            pointer-events: none;
        }
        #service_text{
            pointer-events: none;
        }
        #visit_text{
            pointer-events: none;
        }
    }
}

.outside_contain_mobile{
    width: 100%;
    height: auto;
    background-color: #eee;
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
    }
}

.middle_contain_mobile{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    opacity: 0.8;
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
    }
}

.inside_contain_mobile{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    opacity: 0.3;
    position: absolute;
    .demo {
        position: fixed;
        width: 100%;
    }
}


.navitems{
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    /* width: 100%; */
    padding:85px 0px 85px 105px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.navitems .logo{
    width: 100%;
    
}
.navitems .logo img{
    width: 135px;
    float: left;
    
}
.navitems ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navitems ul li{
    margin-bottom: 5px;
}
.navitems ul li a{
    text-decoration: none;
    color: black;
}
.navitems ul li a .navitem{
    font-size: 18px;
    letter-spacing: 0.2em;
}
.navitem {
    display: inline-block;
    position: relative;
}
.navitem:after {
    content: '';
    display: block;
    border-top: 1px solid black;
    margin-left:1.2em;
    margin-right: 0.8em;
}
.navitem:before{
    display: block;
    position: absolute;
    left: 21.5px;
    top: 100%;
    font-size: 12px;
    letter-spacing: 0.05em;
}
.navitem.eng_navitem_about:before{
    content: "about us";
}
.navitem.eng_navitem_service:before{
    content: "service items";
}
.navitem.eng_navitem_visit:before{
    content: "book a visit";
}
.navitem.eng_navitem_contact:before{
    content: "contact us";
}
.mobile_bar{
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    right: 105px;
    top: 85px;
    transition: 1s;
}
.mobile_bar.active{
    transform: rotate(-90deg);
}
.mobile_bar.active_recover{
    transform: rotate(90deg);
}

.navitems_insidebar{
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    /* opacity: 0; */
}
.navitems_insidebar .insidebar_background{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navitems_insidebar img{
    width: 135px;
    margin-top: 85px;
    margin-left: 105px;
    transition: 1s ease-in-out;
}
.navitems_insidebar ul{
    list-style:none;
    padding: 0;     
    margin-top: 5%;
    transition: 1s ease-in-out;
}
.navitems_insidebar ul li{
    display: block;
    text-align: center;
    margin: 1.5em 0;
    letter-spacing: 0.5em;
}
.navitems_insidebar ul li a{
    text-decoration: none;
    font-size: 38px;
    font-weight: bold;
    color: white;
}
.navitems_insidebar ul li a:hover{
    transition: 0.5s;
    color: #268BBF;
}

.navitems_insidebar footer{
    width: 100%;
}
/* .navitems_insidebar footer p {
} */
.wrap {
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: 0;
    right: 0;
}
.ball {
    z-index: 9;
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}
.outer_ball{
    z-index: 9;
    width: 65px;
    height: 65px;
    background: none;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
}
@media(max-width: 1050px){
    .navitems{
        padding-left:30px
    }
    .mobile_bar{
        right: 30px;   
    }
    .navitems_insidebar img{
        margin-left: 30px;
    }
    .navitems_insidebar ul{   
        margin-top: 10%;
    }
}
@media(max-width: 768px){
    .navitems{
        width: 100%;
        height: unset;
        padding: 40px 40px 40px 40px;
    }
    .navitems .logo{
        text-align: unset;
        margin-top: unset;
    }
    .navitems .logo img{
        width: unset;
        height: 100px;
    }
    .navitems ul{
        display: none;
    }
    .navitems_insidebar img{
        margin-top: 40px;
        margin-left: 40px;
        width: unset;
        height: 100px;
    }
    .navitems_insidebar ul{   
        margin-top: 20%;
    }
    .mobile_bar{
        top: 40px;
        right: 40px;   
    }
}