@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #eee;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 5%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin-bottom: 20px;
}

.swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active {
  background-color: red;
  width: 25px;
  height: 25px;
}

.swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active {
  background-color: green;
  width: 25px;
  height: 25px;
}

.swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active {
  background-color: red;
  width: 25px;
  height: 25px;
}

.swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active {
  background-color: green;
  width: 25px;
  height: 25px;
}

.outside_img_mobile {
  -webkit-clip-path: url(#outside_mask_mobile1);
          clip-path: url(#outside_mask_mobile1);
}

.outside_img_mobile {
  -webkit-clip-path: url(#outside_mask_mobile2);
          clip-path: url(#outside_mask_mobile2);
}

.outside_img_mobile {
  -webkit-clip-path: url(#outside_mask_mobile3);
          clip-path: url(#outside_mask_mobile3);
}

.outside_img_mobile {
  -webkit-clip-path: url(#outside_mask_mobile4);
          clip-path: url(#outside_mask_mobile4);
}

.middle_img_mobile {
  -webkit-clip-path: url(#middle_mask_mobile1);
          clip-path: url(#middle_mask_mobile1);
}

.middle_img_mobile {
  -webkit-clip-path: url(#middle_mask_mobile2);
          clip-path: url(#middle_mask_mobile2);
}

.middle_img_mobile {
  -webkit-clip-path: url(#middle_mask_mobile3);
          clip-path: url(#middle_mask_mobile3);
}

.middle_img_mobile {
  -webkit-clip-path: url(#middle_mask_mobile4);
          clip-path: url(#middle_mask_mobile4);
}

.inside_img_mobile {
  -webkit-clip-path: url(#inside_mask_mobile1);
          clip-path: url(#inside_mask_mobile1);
}

.inside_img_mobile {
  -webkit-clip-path: url(#inside_mask_mobile2);
          clip-path: url(#inside_mask_mobile2);
}

.inside_img_mobile {
  -webkit-clip-path: url(#inside_mask_mobile3);
          clip-path: url(#inside_mask_mobile3);
}

.inside_img_mobile {
  -webkit-clip-path: url(#inside_mask_mobile4);
          clip-path: url(#inside_mask_mobile4);
}

.demo {
  position: fixed;
  width: 100%;
}

.outside_contain {
  width: 100%;
  height: auto;
  background-color: #eee;
  position: absolute;
}

.outside_contain .demo {
  position: fixed;
  width: 100%;
}

.outside_contain .demo .outside_img {
  -webkit-clip-path: url(#outside_mask);
          clip-path: url(#outside_mask);
}

.middle_contain {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  opacity: 0.7;
  position: absolute;
}

.middle_contain .demo {
  position: fixed;
  width: 100%;
}

.middle_contain .demo .middle_img {
  -webkit-clip-path: url(#middle_mask);
          clip-path: url(#middle_mask);
}

.inside_contain {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  opacity: 0.3;
  position: absolute;
}

.inside_contain .demo {
  position: fixed;
  width: 100%;
}

.inside_contain .demo .inside_img {
  -webkit-clip-path: url(#inside_mask);
          clip-path: url(#inside_mask);
}

.cover4 {
  position: absolute;
}

.cover4 .demo {
  position: fixed;
  width: 100%;
}

.cover4 .demo .small_path {
  cursor: pointer;
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.cover4 .demo .small_path #about_text {
  pointer-events: none;
}

.cover4 .demo .small_path #contact_text {
  pointer-events: none;
}

.cover4 .demo .small_path #service_text {
  pointer-events: none;
}

.cover4 .demo .small_path #visit_text {
  pointer-events: none;
}

.outside_contain_mobile {
  width: 100%;
  height: auto;
  background-color: #eee;
  position: absolute;
}

.outside_contain_mobile .demo {
  position: fixed;
  width: 100%;
}

@media (max-width: 500px) {
  .outside_contain_mobile .demo {
    height: 65%;
    top: 18%;
  }
}

.middle_contain_mobile {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  opacity: 0.8;
  position: absolute;
}

.middle_contain_mobile .demo {
  position: fixed;
  width: 100%;
}

@media (max-width: 500px) {
  .middle_contain_mobile .demo {
    height: 65%;
    top: 18%;
  }
}

.inside_contain_mobile {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  opacity: 0.3;
  position: absolute;
}

.inside_contain_mobile .demo {
  position: fixed;
  width: 100%;
}

@media (max-width: 500px) {
  .inside_contain_mobile .demo {
    height: 65%;
    top: 18%;
  }
}

.img_link_mobile .demo {
  position: fixed;
  width: 100%;
}

@media (max-width: 500px) {
  .img_link_mobile .demo {
    height: 65%;
    top: 18%;
  }
}

.navitems {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  padding: 85px 0px 85px 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1050px) {
  .navitems {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .navitems {
    width: 100%;
    height: unset;
    padding: 40px 40px 40px 40px;
  }
}

.navitems .logo {
  width: 100%;
}

@media (max-width: 768px) {
  .navitems .logo {
    text-align: unset;
    margin-top: unset;
  }
}

.navitems .logo img {
  width: 135px;
  float: left;
}

@media (max-width: 768px) {
  .navitems .logo img {
    width: unset;
    height: 100px;
  }
}

.navitems ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .navitems ul {
    display: none;
  }
}

.navitems ul li {
  margin-bottom: 5px;
}

.navitems ul li a {
  text-decoration: none;
  color: black;
}

.navitems ul li a .navitem {
  font-size: 18px;
  letter-spacing: 0.2em;
  display: inline-block;
  position: relative;
}

.navitems ul li a .navitem:after {
  content: '';
  display: block;
  border-top: 1px solid black;
  margin-left: 1.2em;
  margin-right: 0.8em;
}

.navitems ul li a .navitem:before {
  display: block;
  position: absolute;
  left: 21.5px;
  top: 100%;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.navitems ul li a .eng_navitem_about:before {
  content: "about us";
}

.navitems ul li a .eng_navitem_service:before {
  content: "service items";
}

.navitems ul li a .eng_navitem_visit:before {
  content: "book a visit";
}

.navitems ul li a .eng_navitem_contact:before {
  content: "contact us";
}

.mobile_bar {
  font-size: 36px;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  right: 105px;
  top: 85px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1050px) {
  .mobile_bar {
    right: 30px;
  }
}

@media (max-width: 768px) {
  .mobile_bar {
    top: 40px;
    right: 40px;
  }
}

.navitems_insidebar {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100vh;
  background-color: #eee;
  background-size: cover;
  background-position: center;
}

.navitems_insidebar img {
  width: 135px;
  margin-top: 85px;
  margin-left: 105px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media (max-width: 1050px) {
  .navitems_insidebar img {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .navitems_insidebar img {
    margin-top: 40px;
    margin-left: 40px;
    width: unset;
    height: 100px;
  }
}

.navitems_insidebar ul {
  margin: 0;
  list-style: none;
  padding: 0;
  margin-top: 5%;
  margin-left: 30%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media (max-width: 768px) {
  .navitems_insidebar ul {
    margin-top: 25%;
  }
}

@media (max-width: 414px) {
  .navitems_insidebar ul {
    margin-top: 15%;
    margin-left: 25%;
  }
}

@media (max-width: 375px) {
  .navitems_insidebar ul {
    margin-top: 5%;
    margin-left: 20%;
  }
}

@media (max-width: 320px) {
  .navitems_insidebar ul {
    margin-top: 0;
  }
}

.navitems_insidebar ul li {
  display: block;
  margin-top: 1.5em;
  letter-spacing: 0.3em;
}

.navitems_insidebar ul li a {
  text-decoration: none;
  font-size: 38px;
  font-weight: bold;
  color: white;
}

.navitems_insidebar ul li a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #268BBF;
}

@media (max-width: 320px) {
  .navitems_insidebar ul li a {
    font-size: 30px;
  }
}

.navitems_insidebar footer {
  margin-left: 30%;
  letter-spacing: 0.3em;
  line-height: 2em;
  margin-top: 5%;
  font-size: 22px;
  color: white;
}

@media (max-width: 414px) {
  .navitems_insidebar footer {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .navitems_insidebar footer {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .navitems_insidebar footer {
    font-size: 16px;
  }
}

.navitems_insidebar footer p {
  margin: 0;
}

.wrap {
  position: absolute;
  z-index: 99;
  top: -20px;
  left: -20px;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .wrap {
    display: none;
  }
}

.wrap .ball {
  z-index: 99;
  width: 60px;
  height: 60px;
  border: 1px solid grey;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap .ball .outer_ball {
  z-index: 99;
  width: 65px;
  height: 65px;
  background: none;
  border: 1px solid grey;
  border-radius: 50%;
  position: absolute;
}
/*# sourceMappingURL=firstpage_style.css.map */