
*{
    font-family: "微軟正黑體";
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    height: auto;
    background-size: contain;
    position: relative;
    // --swiper-theme-color: #FFFF00;
}

#p1{
    width: 100%;
    height: 100vh;
    // background-size: contain;
    position: relative;
    .bg_wood{
        position: absolute;
        width: 100%;
        height: 33px;
        display: block;
    }
    nav{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        .flag{
            width: 24%;
            height: 230px;
        }
        .navitem{
            width: 17%;
            height: unset;
            display: flex;
            justify-content: space-between;
            .nav_about,.nav_store{
                margin-left: 10%;
            }
            .nav_menu,.nav_contact{
                margin-right: 10%;
            }
        }
    }
    .soups{
        position: absolute;
        width: 100%;
        top: 320px;
        display: flex;
        .soupL{
            width: 50%;
            height: 540px;
            background-size: cover;
            background-position: left;
        }
        .soupR{
            width: 50%;
            height: 540px;
            background-size: cover;
            background-position: right;
        }
    }
    .ramen{
        width: 100%;
        position: relative;
        top: 285px;
        img{
            position: absolute;
            width: 690px;
            left: 50%;
            transform: translateX(-50%);;
        }
    }
}

#p2{
    width: 100%;
    position: relative;
    .big_title{
        // width: 100%;
        text-align: center;
        margin-top: 200px;
    }
    .parallax{
        background-attachment: fixed;
        width: 100%;
        max-width: 1140px;
        height: 310px;
        background-repeat: no-repeat;
        background-position: center;
    }    
    .frame{
        max-width: 100%;
        width: 1140px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
        position: relative;
        .soup_kinds{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .noodle_texts{
            display: flex;
            justify-content: space-between;
            letter-spacing: 0.25em;
            text-align: justify;
            font-weight: lighter;
            .noodle_textL{
                width: 30%;
                font-size: 18px;
                line-height: 30px;
                align-self: flex-end;
            }
            .noodle_textR{
                width: 30%;
                font-size: 18px;
                .noodle_title{
                    font-family: "新細明體";
                    font-size: 36px;
                    font-weight: bold;
                }
                .noodle_titleB{
                    line-height: 30px;
                }
            }
        }
        .meat_texts{
            display: flex;
            justify-content: space-between;
            letter-spacing: 0.25em;
            text-align: justify;
            font-weight: lighter;
            .meat_textL{
                width: 30%;
                font-size: 18px;
                line-height: 30px;
                .meat_title{
                    font-family: "新細明體";
                    font-size: 36px;
                    font-weight: bold;
                }
            }
            .meat_textR{
                width: 30%;
                font-size: 18px;
                line-height: 30px;
                align-self: flex-end;
            }
        }
        .complete_ramen{
            display: flex;
            justify-content: center;
        }
    } 
}

#p3{
    width: 100%;
    // position: relative;
    .frame{
        max-width: 100%;
        width: 1140px;
        margin: 0 auto;
        .title_limit{
            text-align: center;
            margin-top: 200px;
        }
    }
    .swiper-container{
        width: 100%;
        margin-top: 100px;         
        // --swiper-theme-color: #FFFF00;
        .swiper_slide{
            img{
                width: 100%;
            }
        }
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 65px;
    }
    .swiper-pagination-bullet{
        width: 30px;
        height: 8px;
        border-radius: 3px;
        background-color: #D2D2D2;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 17px;
    }
    
}

#p4{
    width: 100%;
    .frame{
        max-width: 100%;
        width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        // background-color: lightblue;
        .title_menu{
            text-align: center;
            margin-top: 200px;
            width: 100%;
        }
        .whiteL{
            width: 50%;
            margin-top: 100px;
            img{
                margin-left: 15px;
            }
        }
        .whiteR{
            width: 50%;
            margin-top: 100px;
            position: relative;
            img{
                position: absolute;
                right: -55px;
            }
        }

        .white_text{
            font-size: 24px;
            font-weight: lighter;
            line-height: 2em;
            margin-left: 110px;
            &:before{
                content: "";
                display: block;
                border-bottom: 3px black solid;
            }
            &:after{
                content: "";
                display: block;
                border-top: 3px black solid;
            }
            .name{
                display: inline-block;
                letter-spacing: 0.1em; 
            }
            .price{
                display: inline-block;
                color: #AD272D;
                margin-left: calc(95px - 1em);
            }
        }
        .spacewhite{
            width: 50%;
        }
        .blackL{
            width: 50%;
            margin-top: 200px;
            position: relative;
            z-index: 2;
            img{
                margin-left: -44px;
            }
        }
        .blackR{
            width: 50%;
            margin-top: 100px;
            position: relative;
            z-index: 1;
            img{
                position: absolute;
                right: 15px;
            }
            .black_text{
                font-size: 24px;
                font-weight: lighter;
                line-height: 2em;
                right: 128px;
                position: absolute;
                bottom: 0;
                &:before{
                    content: "";
                    display: block;
                    border-bottom: 3px black solid;
                }
                &:after{
                    content: "";
                    display: block;
                    border-top: 3px black solid;
                }
                .name{
                    display: inline-block;
                    letter-spacing: 0.1em; 
                }
                .price{
                    display: inline-block;
                    color: #AD272D;
                    margin-left: calc(38px - 1em);
                }
            }
        }
        .pureL{
            width: 50%;
            position: relative;
            margin-top: 100px;
            .pure_text{
                font-size: 24px;
                font-weight: lighter;
                line-height: 2em;
                left: 110px;
                position: absolute;
                &:before{
                    content: "";
                    display: block;
                    border-bottom: 3px black solid;
                }
                &:after{
                    content: "";
                    display: block;
                    border-top: 3px black solid;
                }
                .name{
                    display: inline-block;
                    letter-spacing: 0.1em; 
                }
                .price{
                    display: inline-block;
                    color: #AD272D;
                    margin-left: calc(95px - 1em);
                }
            }
        }   
        .pureR{
            width: 50%;
            margin-top: 185px;
            position: relative;
            img{
                position: absolute;
                right: 0;
            }
        }        
    }
    .special{
        width: 100%;
        height: 715px;
        background-position: center;
        background-size: cover;
        margin-top: 350px;
        .frame{
            width: 100%;
            max-width: 1140px;
            position: relative;
            .title{
                margin-left: calc(50% + 145px);
                margin-top: 135px;
                color: #D6A601;
                font-size: 65px;
                font-family: "Times New Roman ";
                font-weight: bold;
                font-style: italic;;
            }
            .content{
                margin-left: calc(50% + 240px);
                margin-top: 70px;
                padding-right: 20px;
                letter-spacing: 0.225em;
                line-height: 28px;
                text-align: justify;
                color: #FFFFFF;
                font-weight: lighter;
            }
            .name{
                margin-left: calc(50% + 240px);
                margin-top: 80px;
                font-family: "新細明體";
                font-weight: bold;
                font-size: 32px;
                color: #D6A601;
                letter-spacing: 0.225em;
            }
            .price{
                margin-left: calc(50% + 240px);
                margin-top: 25px;
                font-family: "新細明體";
                font-size: 32px;
                color: #FFFFFF;
                letter-spacing: 0.2em;
            }
        }
    }
    .frame{
        .menu{
            width: 100%;
            margin-top: 200px;
            display: flex;
            flex-wrap: wrap;
            padding: 0 80px;
            .title1{
                text-align: center;
                width: 100%;
                letter-spacing: 0.15em;
                font-size: 50px;
                font-family: "新細明體";
            }
            .title1L{
                width: 50%;
                position: relative;
                font-size: 24px;
                font-weight: lighter;
                line-height: 3em;
                margin-bottom: 45px;
                margin-top: 45px;
                &:before{
                    content: "";
                    display: block;
                    border-bottom: 3px solid black;
                    margin-right: 38px;
                }
                &:after{
                    content: "";
                    display: block;
                    border-top: 3px solid black;
                    margin-right: 38px;
                }
                .price{
                    position: absolute;
                    right: 38px;
                    color: #AD272D;
                    // margin-right: 32px;
                }
            }
            .title1R{
                width: 50%;
                position: relative;
                font-size: 24px;
                font-weight: lighter;
                line-height: 3em;
                margin-top: 45px;
                &:before{
                    content: "";
                    display: block;
                    border-bottom: 3px solid black;
                    margin-left: 38px;
                }
                &:after{
                    content: "";
                    display: block;
                    border-top: 3px solid black;
                    margin-left: 38px;
                }
                .name{
                    margin-left: 38px;
                }
                .price{
                    position: absolute;
                    right: 0;
                    color: #AD272D;
                }
            }
            .title2{
                text-align: center;
                width: 100%;
                letter-spacing: 0.15em;
                margin-top: 65px;
                font-size: 50px;
                font-family: "新細明體";
            }
            .title2L{
                width: 50%;
                position: relative;
                font-size: 24px;
                font-weight: lighter;
                line-height: 3em;
                // margin-bottom: 45px;
                margin-top: 45px;
                &:before{
                    content: "";
                    display: block;
                    border-bottom: 3px solid black;
                    margin-right: 38px;
                }
                &:after{
                    content: "";
                    display: block;
                    border-top: 3px solid black;
                    margin-right: 38px;
                }
                .price{
                    position: absolute;
                    top: 0;
                    right: 38px;
                    color: #AD272D;
                    // margin-right: 32px;
                }
            }
            .title2R{
                width: calc(50% - 32px);
                position: relative;
                font-size: 24px;
                font-weight: lighter;
                line-height: 3em;
                margin-top: 45px;
                padding-left: 32px;
                &:before{
                    content: "";
                    display: block;
                    border-bottom: 3px solid black;
                    
                }
                &:after{
                    content: "";
                    display: block;
                    border-top: 3px solid black;
    
                }
                .price{
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #AD272D;
                }
            }
        }
    }
}

#p5{
    margin-top: 200px;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    .box{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 3px black solid;
        .frame{
            width: 100%;
            max-width: 1140px;
            margin: 0 auto;
            h1{
                font-size: 80px;
                font-family: "新細明體";
                font-weight: 600;
                text-align:center;
                margin-top: 100px;
                margin-bottom: 110px;
            }
            .line{
                border: 1px black solid;
                width: 100%;
                max-width: 980px;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            .store_text{
                width: 100%;
                position: relative;
                font-size: 24px;
                letter-spacing: 0.25em;
                margin-bottom: 20px;
                .store_textL{
                    margin-left: 80px;
                }
                .store_textR{
                    position: absolute;
                    left:410px
                }
            }
        }
    }
}
#p6{
    width: 100%;
    .frame{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        .title_contact{
            width: 100%;
            margin-top: 200px;
            text-align: center;
        }
        .inputs{
            width: 100%;
            text-align: center;
            .line_p6{
                width: 100%;
                max-width: 540px;
                border: 1px black solid;
                margin: 0 auto;
            }
            .contact_text{
                width: 100%;  
                font-size: 24px;
                line-height: 2em;
            }
            .input_blocks{
                width: 100%;
                max-width: 540px;
                border: 1px solid black;
                border-radius: 0.25em;
                background-color: transparent;
                font-size: 24px;
                line-height: 2em;
                box-sizing: border-box;
                padding:0 0.5em;  
            }
            .form-control{
                background-color: transparent;
                max-width: 540px;
                border: 1px solid black;
                background-color: transparent;
                font-size: 24px;
                line-height: 2em;
                box-sizing: border-box;
                padding:0 0.2em;
                margin: auto;
            }
            .input_blockB{
                height: 260px;
                border-radius: 0.25em;
                padding:0 0.5em;
            }
            .buttons{
                display: flex;
                justify-content: center;
                line-height: 1.5em;
                letter-spacing: 0.1em;
                font-size: 24px;
                margin-top: 1.5em;
                margin-bottom: 200px;
                font-weight: bold;
                .send{
                    background-color: transparent;
                    border: 1px solid black;
                    margin-right: 40px;
                    padding: 0 10px;
                    cursor: pointer;
                }
                .cancel{
                    background-color: transparent;
                    border: 1px solid black;
                    margin-left: 40px;
                    padding: 0 10px;
                    cursor: pointer;
                }
            }
              
        }  
    }
}
.google_map{
    position: absolute;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    border: 4px black solid !important;
}
footer{
    width: 100%;
    height: 715px;
    background-color: black;
    margin-top: 400px;
}
