// page_one_nav_and_banner
.page_one_banner {
    width: 100%;
    position: relative;

    .page_one_img_banner {
        width: 100%;
    }

    //banner_text
    .banner_text_all_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-5%, -160%);
        color: rgb(104, 104, 105);

        .banner_text_box {
            padding-bottom: 30px;

            .title {
                text-align: center;
                display: flex;
    
                .box {
                    padding-top: 35px;
                    width: 200px;

                    h1 {
                        margin: 0;
                        font-family: "微軟正黑體";
                        font-size: 30px;
                        letter-spacing: 5px;
                        border-bottom: solid rgb(104, 104, 105) 1px;
                        padding-bottom: 5px;
                        font-weight: lighter;
                    }
        
                    h2 {
                        margin: 0;
                        padding-top: 5px;
                        font-size: 30px;
                        font-family: "Arial";
                        font-weight: lighter;
                    }
                }
                
                img {
                    height: 115px;
                }
            }
        }
        
        .text {
            p {
                margin: 0;
                font-family: "微軟正黑體";
                font-size: 25px;
                letter-spacing: 5px;
                text-align: center;
                font-weight: lighter;
            }
        }
    }
}
@media screen and (max-width:1700px) {
    .page_one_nav {
        display: none;
    }

    .nav_jump-in {
        display: flex;
    }
    .page_one_banner {
        .banner_text_all_box {
            position: unset;
            top: unset;
            left: unset;
            transform: unset;
        }
    }
}